// * {
//    padding: 0px;
//    margin: 0px;
//    border: 0px;
// }

// *,
// *:before,
// *:after {
//    -webkit-box-sizing: border-box;
//    box-sizing: border-box;
// }

// :focus,
// :active {
//    outline: none;
// }
body {
	background-color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;

	&.lock {
		overflow: hidden;
	}
}
a {
	transition: all 0.3s ease 0s;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

// input {
// 	outline: none;
// }
// input:-webkit-autofill {
// 	-webkit-box-shadow: inset 0 0 0 50px #464646 !important;
// 	-webkit-text-fill-color: #F2F2F2 !important;
// 	color: #F2F2F2 !important;
// }

.maxwidth-theme {
	width: 100%;
	margin: 0 auto;
	max-width: 1516px;
	padding-left: 16px!important;
	padding-right: 16px!important;

	@media (min-width: 992px) {
		padding-left: 24px!important;
		padding-right: 24px!important;
	}
}
.link {
	font-size: 22px;
	color: #272727;
	font-weight: 600;
	line-height: 1.13;
	text-decoration: none;
	transition: all 0.3s ease 0s;

	&_phone {
		font-weight: 700;

		span {
			color: #DFDFDF;
		}
	}

	&_norm {
		font-weight: 400;
	}

	&:hover {
		color: #2B9040;
	}
}
.ckko {
	background-color: #FCFCFC;
	position: relative;
	padding: 60px 0px 0px 0px;

	&:before {
		content:'';
		width: 100%;
		height: 60px;
		background-color: #188B30;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		max-width: 645px;
		margin: 55px 20px 35px 0px;
	}
 
	&__title {
		margin: 0px 0px 14px 0px;
		font-size: 42px;
		color: #188B30;
		font-weight: 700;
		line-height: 1.36;
	}

	&__subtitle {
		margin: 0px 0px 25px 0px;
		font-size: 22px;
		color: #2B9040;
		line-height: 1.15;
	}

	&__row {
		display: flex;
		align-items: center;
	}

	&__btn-enter {
		margin: 0px 25px 0px 0px;
		padding: 10px 48px;
		font-size: 16px;
		color: #fefefe;
		font-weight: 600;
		background-color: #2B9040;
		border-radius: 60px;
		display: inline-block;
	}

	&__link {
		font-size: 16px;
		color: #3D3A38;
		font-weight: 600;
		display: inline-block;

		&:hover {
			color: #2B9040;
			text-decoration: none;
		}
	}
}
.menu-ckko {
	padding: 60px 0;
	background-color: #F6F6F6;

	&__subtitle {
		margin: 0px 0px 35px 0px;
		font-size: 26px;
		color: #272727;
		font-weight: 700;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__column {
		padding: 0 15px 30px;
		flex: 0 1 50%;
	}
	
	&__item {
		padding: 30px;
		background-color: #FCFCFC;
		min-height: 400px;
		transition: all 0.3s ease 0s;
		display: flex;
		flex-direction: column;
		height: 100%;

		&:hover {
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	&__title {
		margin: 0px 0px 30px 0px;
		display: flex;
		align-items: center;
		font-size: 22px;
		color: #3D3A38;
		font-weight: 800;
	
		img {
			margin: 0px 30px 0px 0px;
		}
	}

	&__text {
		margin: 0px 0px 30px 0px;
		font-size: 18px;
		color: #272727;
		font-weight: 600;
		line-height: 1.35;
	}
}
.ckko-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		margin: 0px 0px 20px 0px;
		font-size: 22px;
		color: #272727;
	}
}
.accordion-ckko {
	
	&__btn {
		padding: 15px 0 15px 20px;
		border: 0;
		background-color: transparent;
		position: relative;

		
		&:before {
			content:'';
			width: 8px;
			height: 8px;
			border-top: 2px solid #272727;
			border-right: 2px solid #272727;
			transform: rotate(135deg);
			position: absolute;
			top: 45%;
			left: 0;
			transition: all 0.3s ease 0s;
		}

		&.collapsed:before {
			transform: rotate(45deg);
		}

		&:hover {
			&:before {
				border-color: #2B9140;
			}
		}
	}

	&__body {
		padding: 10px 0 20px;
	}
}
.support {
	background-color: #FCFCFC;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 100%;
		max-width: 440px;
	}

	&__title {
		font-size: 42px;
		color: #272727;
		font-weight: 700;
		line-height: 1.36;
	}
}


.popup-buy-video {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5;
   background-color: rgba(17, 17, 17, 0.4);
   -webkit-backdrop-filter: blur(8px);
   backdrop-filter: blur(8px);
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
   overflow-x: hidden;
   overflow-y: auto;

   &.open {
      opacity: 1;
      visibility: visible;

      .popup-buy-video__content {
         transform: rotateX(0deg);
         opacity: 1;
         transform: perspective(600px) translateY(0%) rotateX(0deg);
      }
   }

   &__body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;

      &:hover {
         box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      }
   }

   &__close {
      color: #000;
      font-size: 21px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9;
      cursor: pointer;

      &:hover {
         color: #00000085;
      }
   }

   &__content {
      max-width: 400px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      transition: all 0.8s ease 0s;
      opacity: 0;
      position: relative;
      transform: perspective(600px) translateY(-100%) rotateX(45deg);
   }
}
.wrapper-page-video {
	background-color: #0E0E0E;
	position: relative;
	top: 0;

	&:before {
		content:'';
		width: 460px;
		height: 328px;
		background: url('./decor-white.png') 0 0 no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;

		@media (max-width: 768px) {
			display: none;
		}
	}

	&.white {
		background-color: #FEFEFE;

		input:-webkit-autofill {
			-webkit-box-shadow: inset 0 0 0 50px #F2F2F2 !important;
			-webkit-text-fill-color: #333333 !important;
			color: #333333 !important;
	  }

		&:before {
			background: url('./decor-gray.png') 0 0 no-repeat;
		}

		.header__phone {
			color: #4F4F4F;

			&:hover {
				color: #000000;
			}
		}

		.info-video{
			&__label {
				color: #F2F2F2;
				background-color: #1FC1BE;
			}

			&__button {
				width: 24px;
				height: 24px;
				background: url('./icon-white.svg') 0 0 no-repeat;
			}

			&__title {
				color: #333333;
			}

			&__subtitle {
				color: #333333;
			}
		
			&__list {
		
				li {
					color: #4F4F4F;
				}
			}
		}

		.course__item {
			border-left: 2px solid #FCE45C;
			color: #333333;
		}

		.form {
			background-color: #F2F2F2;
			color: #333333;

			&__input {
				color: #333333;
				border: 1px solid #333333;
			}
		
			&__placeholder {
				background-color: #F2F2F2;
			}
		}

		.checkbox {
		
			&__label {
				font-size: 12px;
				line-height: 14px;
				font-weight: 500;
				color: #333333;
				cursor: pointer;
				display: flex;
				align-items: center;
				position: relative;
		
				&:before {
					margin: 0px 10px 0px 0px;
					content:'';
					align-self: flex-start;
					flex: 0 0 14px;
					height: 14px;
					background-color: transparent;
					border: 1px solid #333333;
				}
		
				&:after {
					content:'';
					position: absolute;
					left: 2px;
					top: 2px;
					width: 10px;
					height: 7px;
					border-left: 3px solid #333333;
					border-bottom: 3px solid #333333;
					transform: rotate(-50deg) scale(0);
					transition: all 0.3s ease 0s;
				}
			}
		}
	}
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0px 65px 0px;

	@media (max-width: 768px) {
		padding: 20px 0px 40px 0px;
	}

	&__logo {
		width: 56px;
		height: 56px;
	}

	&__phone {
		margin: 0px 165px 0px 0px;
		color: #afafaf;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;
		transition: all 0.3s ease 0s;
		position: relative;
		z-index: 2;

		&:hover {
			color: #7a7a7a;
			text-decoration: underline;
		}

		@media (max-width: 768px) {
			margin: 0;
		}
	}
}
.info-video {
	margin: 0px 0px 80px 0px;
	position: relative;
	z-index: 2;

	@media (max-width: 565px) {
		margin: 0px 0px 40px 0px;
	}

	&__header {
		display: flex;
		align-items: center;
		margin: 0px 0px 20px 0px;
	}

	&__label {
		width: 279px;
		height: 41px;
		margin: 0px 20px 0px 0px;
		color: #333333;
		font-size: 18px;
		font-weight: 600;
		line-height: 41px;
		text-align: center;
		background-color: #F2F2F2;
		border-radius: 25px;
	}

	&__button {
		width: 24px;
		height: 24px;
		background: url('./icon-black.svg') 0 0 no-repeat;
		transition: all 0.3s ease 0s;

		&:hover {
			transform: translateY(-3px);
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 50px 0px;

		@media (max-width: 991px) {
			display: block;
		}
	}

	&__content {
		flex: 0 1 660px;
		margin: 0px 30px 0px 0px;

		@media (max-width: 991px) {
			margin: 0;
		}
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 40px;
		color: #FCE45C;
		font-weight: 700;

		@media (max-width: 768px) {
			font-size: 25px;
		}
	}

	&__subtitle {
		margin: 0px 0px 20px 0px;
		font-size: 24px;
		color: #FCE45C;
	}

	&__list {

		li {
			margin: 0px 0px 20px 0px;
			color: #F2F2F2;
			font-size: 18px;
			font-weight: 600;
		}
	}

	&__image {
		@media (max-width: 991px) {
			padding: 0 40px 20px;

			img {
				display: block;
				margin: 0 auto;
			}
		}

		img {
			max-width: 100%;
		}
	}
}
.course {
	display: flex;
	align-items: center;

	@media (max-width: 991px) {
		display: block;
	}

	&__button {
		display: block;
		margin: 0px 120px 20px 0px;
		width: 250px;
		height: 50px;
		font-size: 18px;
		color: #333333;
		font-weight: 600;
		text-align: center;
		line-height: 50px;
		background-color: #FCE45C;
		border-radius: 25px;
		transition: all 0.3s ease 0s;
		text-decoration: none;

		&:hover {
			color: #333333;
			background-color: #F9D300;
		}

		@media (max-width: 1050px) {
			margin: 0px 50px 20px 0px;
		}

		@media (max-width: 991px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		width: 200px;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 20px;
		border-left: 2px solid #F2F2F2;
		font: 18px;
		color: #F2F2F2;
		line-height: 32px;
	}

	&__title {
		font-weight: 600;
	}

	&__subtitle {
	}
}
.video {
	padding: 0px 0px 100px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 991px) {
		flex-direction: column;
	}

	&__viewport {
		width: 100%;
		padding: 0px 0px 39.25% 0px;
		margin: 0px 30px 0px 0px;
		position: relative;
		
		@media (max-width: 991px) {
			margin: 0px 0px 30px 0px;
			padding: 0px 0px 56.25% 0px;
		}

		iframe  {
			object-fit: cover;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0; 
		}
	}

}
.form {
	width: 100%;
	max-width: 395px;
	padding: 45px 20px 20px;
	background-color: #464646;
	color: #F2F2F2;

	&__subtitle {
		margin: 0px 0px 10px 0px;
		font-size: 14px;
	}

	&__title {
		margin: 0px 0px 20px 0px;
		font-size: 16px;
		font-weight: 500;
	}

	&__line {
		position: relative;
		margin: 0px 0px 20px 0px;
	}

	&__text-error {
		display: none;
		font-size: 12px;
		color: red;
	}

	&__input {
		padding: 0 10px;
		width: 100%;
		height: 40px;
		font-size: 14px;
		line-height: 40px;
		color: #F2F2F2;
		background-color: transparent;
		border: 1px solid #F2F2F2;
		border-radius: 8px;
		transition: all 0.3s ease 0s;

		&:focus {
			border-color: #8CBEBD;
		}

		&._error {
			border-color: rgb(245, 68, 68);
		}
	}

	&__placeholder {
		padding: 0 10px;
		border-radius: 8px;
		background-color: #464646;
		font-size: 12px;
		position: absolute;
		top: -9px;
		left: 8px;
		z-index: 2;
	}

	&__thanks {
		display: none;
		padding: 10px;
		margin: 0px 0px 20px 0px;
		background-color: #8CBEBD;
		border-left: 3px solid #8CBEBD;
		font-size: 16px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;

		&.show {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}

	&__button {
		width: 100%;
		height: 38px;
		font-size: 16px;
		color:#4F4F4F;
		border-radius: 25px;
		background-color: #8CBEBD;
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: #1FC1BE;
		}
	}
}
.checkbox {

	&__input {
		display: none;

		&:checked + .checkbox__label:after {
			transform: rotate(-58deg) scale(1) skew(-20deg);
		}

		&._error  + .checkbox__label:before {
         border-color: rgb(245, 68, 68);
      }
	}

	&__label {
		font-size: 12px;
      line-height: 14px;
      font-weight: 500;
      color: #E0E0E0;
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;

		&:before {
			margin: 0px 10px 0px 0px;
			content:'';
			align-self: flex-start;
			flex: 0 0 14px;
			height: 14px;
			background-color: transparent;
			border: 1px solid #F2F2F2;
		}

		&:after {
			content:'';
         position: absolute;
         left: 1px;
			top: -4px;
			width: 18px;
			height: 8px;
         border-left: 2px solid #F2F2F2;
         border-bottom: 2px solid #F2F2F2;
         border-radius: 2px;
			transform: rotate(-58deg) scale(0) skew(-20deg);
			transition: all 0.3s ease 0s;
		}

		a {
			color: #8CBEBD;
			transition: all 0.3s ease 0s;

			&:hover {
				color: #1FC1BE;
			}
		}
	}
}
.form__line._error .form__checkbox-label {
   border-color: rgb(245, 68, 68);
}
.form__line._error > .form__text-error {
	display: block;
}

 