body {
  background-color: #FEFEFE;
  font-family: "Roboto", sans-serif;
}
body.lock {
  overflow: hidden;
}

.maxwidth-theme {
  width: 100%;
  margin: 0 auto;
  max-width: 1516px;
}
@media (min-width: 992px) {
  .maxwidth-theme {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.ckko {
  background-color: #FCFCFC;
  position: relative;
  padding: 60px 0px 0px 0px;
}
.ckko:before {
  content: "";
  width: 100%;
  height: 60px;
  background-color: #188B30;
  position: absolute;
  top: 0;
  left: 0;
}
.ckko__title {
  font-size: 42px;
  color: #188B30;
  font-weight: 700;
}
.ckko__subtitle {
  font-size: 22px;
  color: #2B9040;
}
.ckko__btn-enter {
  padding: 10px 48px;
  font-size: 16px;
  color: #fefefe;
  font-weight: 600;
  background-color: #2B9040;
  border-radius: 60px;
}
.popup-buy-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(17, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  overflow-x: hidden;
  overflow-y: auto;
}
.popup-buy-video.open {
  opacity: 1;
  visibility: visible;
}
.popup-buy-video.open .popup-buy-video__content {
  transform: rotateX(0deg);
  opacity: 1;
  transform: perspective(600px) translateY(0%) rotateX(0deg);
}
.popup-buy-video__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup-buy-video__body:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.popup-buy-video__close {
  color: #000;
  font-size: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
  cursor: pointer;
}
.popup-buy-video__close:hover {
  color: #00000085;
}
.popup-buy-video__content {
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  position: relative;
  transform: perspective(600px) translateY(-100%) rotateX(45deg);
}

.wrapper-page-video {
  background-color: #0E0E0E;
  position: relative;
  top: 0;
}
.wrapper-page-video:before {
  content: "";
  width: 460px;
  height: 328px;
  background: url("./decor-white.png") 0 0 no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .wrapper-page-video:before {
    display: none;
  }
}
.wrapper-page-video.white {
  background-color: #FEFEFE;
}
.wrapper-page-video.white input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #F2F2F2 !important;
  -webkit-text-fill-color: #333333 !important;
  color: #333333 !important;
}
.wrapper-page-video.white:before {
  background: url("./decor-gray.png") 0 0 no-repeat;
}
.wrapper-page-video.white .header__phone {
  color: #4F4F4F;
}
.wrapper-page-video.white .header__phone:hover {
  color: #000000;
}
.wrapper-page-video.white .info-video__label {
  color: #F2F2F2;
  background-color: #1FC1BE;
}
.wrapper-page-video.white .info-video__button {
  width: 24px;
  height: 24px;
  background: url("./icon-white.svg") 0 0 no-repeat;
}
.wrapper-page-video.white .info-video__title {
  color: #333333;
}
.wrapper-page-video.white .info-video__subtitle {
  color: #333333;
}
.wrapper-page-video.white .info-video__list li {
  color: #4F4F4F;
}
.wrapper-page-video.white .course__item {
  border-left: 2px solid #FCE45C;
  color: #333333;
}
.wrapper-page-video.white .form {
  background-color: #F2F2F2;
  color: #333333;
}
.wrapper-page-video.white .form__input {
  color: #333333;
  border: 1px solid #333333;
}
.wrapper-page-video.white .form__placeholder {
  background-color: #F2F2F2;
}
.wrapper-page-video.white .checkbox__label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.wrapper-page-video.white .checkbox__label:before {
  margin: 0px 10px 0px 0px;
  content: "";
  align-self: flex-start;
  flex: 0 0 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #333333;
}
.wrapper-page-video.white .checkbox__label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 10px;
  height: 7px;
  border-left: 3px solid #333333;
  border-bottom: 3px solid #333333;
  transform: rotate(-50deg) scale(0);
  transition: all 0.3s ease 0s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 65px 0px;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0px 40px 0px;
  }
}
.header__logo {
  width: 56px;
  height: 56px;
}
.header__phone {
  margin: 0px 165px 0px 0px;
  color: #afafaf;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
}
.header__phone:hover {
  color: #7a7a7a;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .header__phone {
    margin: 0;
  }
}

.info-video {
  margin: 0px 0px 80px 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 565px) {
  .info-video {
    margin: 0px 0px 40px 0px;
  }
}
.info-video__header {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
}
.info-video__label {
  width: 279px;
  height: 41px;
  margin: 0px 20px 0px 0px;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 25px;
}
.info-video__button {
  width: 24px;
  height: 24px;
  background: url("./icon-black.svg") 0 0 no-repeat;
  transition: all 0.3s ease 0s;
}
.info-video__button:hover {
  transform: translateY(-3px);
}
.info-video__body {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 991px) {
  .info-video__body {
    display: block;
  }
}
.info-video__content {
  flex: 0 1 660px;
  margin: 0px 30px 0px 0px;
}
@media (max-width: 991px) {
  .info-video__content {
    margin: 0;
  }
}
.info-video__title {
  margin: 0px 0px 20px 0px;
  font-size: 40px;
  color: #FCE45C;
  font-weight: 700;
}
@media (max-width: 768px) {
  .info-video__title {
    font-size: 25px;
  }
}
.info-video__subtitle {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  color: #FCE45C;
}
.info-video__list li {
  margin: 0px 0px 20px 0px;
  color: #F2F2F2;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .info-video__image {
    padding: 0 40px 20px;
  }
  .info-video__image img {
    display: block;
    margin: 0 auto;
  }
}
.info-video__image img {
  max-width: 100%;
}

.course {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .course {
    display: block;
  }
}
.course__button {
  display: block;
  margin: 0px 120px 20px 0px;
  width: 250px;
  height: 50px;
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  background-color: #FCE45C;
  border-radius: 25px;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.course__button:hover {
  color: #333333;
  background-color: #F9D300;
}
@media (max-width: 1050px) {
  .course__button {
    margin: 0px 50px 20px 0px;
  }
}
@media (max-width: 991px) {
  .course__button {
    margin: 0px 0px 20px 0px;
  }
}
.course__info {
  display: flex;
  flex-wrap: wrap;
}
.course__item {
  width: 200px;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 20px;
  border-left: 2px solid #F2F2F2;
  font: 18px;
  color: #F2F2F2;
  line-height: 32px;
}
.course__title {
  font-weight: 600;
}
.video {
  padding: 0px 0px 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .video {
    flex-direction: column;
  }
}
.video__viewport {
  width: 100%;
  padding: 0px 0px 39.25% 0px;
  margin: 0px 30px 0px 0px;
  position: relative;
}
@media (max-width: 991px) {
  .video__viewport {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 56.25% 0px;
  }
}
.video__viewport iframe {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  width: 100%;
  max-width: 395px;
  padding: 45px 20px 20px;
  background-color: #464646;
  color: #F2F2F2;
}
.form__subtitle {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
}
.form__title {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: 500;
}
.form__line {
  position: relative;
  margin: 0px 0px 20px 0px;
}
.form__text-error {
  display: none;
  font-size: 12px;
  color: red;
}
.form__input {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  color: #F2F2F2;
  background-color: transparent;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.form__input:focus {
  border-color: #8CBEBD;
}
.form__input._error {
  border-color: #f54444;
}
.form__placeholder {
  padding: 0 10px;
  border-radius: 8px;
  background-color: #464646;
  font-size: 12px;
  position: absolute;
  top: -9px;
  left: 8px;
  z-index: 2;
}
.form__thanks {
  display: none;
  padding: 10px;
  margin: 0px 0px 20px 0px;
  background-color: #8CBEBD;
  border-left: 3px solid #8CBEBD;
  font-size: 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.form__thanks.show {
  display: block;
  opacity: 1;
  visibility: visible;
}
.form__button {
  width: 100%;
  height: 38px;
  font-size: 16px;
  color: #4F4F4F;
  border-radius: 25px;
  background-color: #8CBEBD;
  transition: all 0.3s ease 0s;
}
.form__button:hover {
  background-color: #1FC1BE;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label:after {
  transform: rotate(-58deg) scale(1) skew(-20deg);
}
.checkbox__input._error + .checkbox__label:before {
  border-color: #f54444;
}
.checkbox__label {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #E0E0E0;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.checkbox__label:before {
  margin: 0px 10px 0px 0px;
  content: "";
  align-self: flex-start;
  flex: 0 0 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #F2F2F2;
}
.checkbox__label:after {
  content: "";
  position: absolute;
  left: 1px;
  top: -4px;
  width: 18px;
  height: 8px;
  border-left: 2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-radius: 2px;
  transform: rotate(-58deg) scale(0) skew(-20deg);
  transition: all 0.3s ease 0s;
}
.checkbox__label a {
  color: #8CBEBD;
  transition: all 0.3s ease 0s;
}
.checkbox__label a:hover {
  color: #1FC1BE;
}

.form__line._error .form__checkbox-label {
  border-color: #f54444;
}

.form__line._error > .form__text-error {
  display: block;
}