* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #192A82;
  font-size: 16px;
  line-height: 1.3;
  transition: all 0.3s ease 0s;
}
body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  flex-direction: column;
}

.link {
  font-size: 16px;
  color: #343434;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  position: relative;
}
.link:hover {
  color: #005fd3;
}

.title {
  font-size: 28px;
  color: #192A82;
  font-weight: 600;
}
.title span {
  position: relative;
  z-index: 4;
}
.title span:before {
  content: "";
  width: 100%;
  height: 14px;
  background-color: #AAD0FF;
  position: absolute;
  left: 0;
  bottom: -3px;
  z-index: -1;
}
@media (max-width: 768px) {
  .title span:before {
    display: none;
  }
}
.title_white span:before {
  background-color: #FFFFFF;
}
@media (max-width: 565px) {
  .title {
    font-size: 22px;
  }
}

.link-all {
  margin: 0px 0px 0px 30px;
  display: inline-flex;
  color: #192A82;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
.link-all img {
  display: none;
  margin: 0px 0px 0px 8px;
  transition: all 0.3s ease 0s;
}
.link-all:hover {
  color: #2B8AFF;
}
.link-all:hover img {
  display: block;
}
@media (max-width: 992px) {
  .link-all {
    color: #2B8AFF;
  }
  .link-all img {
    display: block;
  }
}
@media (max-width: 768px) {
  .link-all {
    margin: 30px 0px 0px 0px;
  }
}

.button {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  background-color: #192A82;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  box-shadow: 0px 4px 32px rgba(0, 38, 202, 0.2);
}

.section {
  padding: 75px 0px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0px;
  }
}

.info-banner {
  margin-top: 75px;
  display: block;
}
@media (max-width: 768px) {
  .info-banner {
    margin-top: 40px;
  }
}

.info-banner-block {
  margin-top: 75px;
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
}
@media (max-width: 768px) {
  .info-banner-block {
    margin-top: 40px;
  }
}
.info-banner-block__info {
  margin: 0px 45px 0px 0px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.info-banner-block__img {
  margin: 0px 45px 0px 0px;
  width: 100px;
}
.info-banner-block__img img {
  max-width: 100%;
  height: auto;
}
.info-banner-block__title {
  width: min(100%, 460px);
  font-size: 22px;
  color: #343434;
  font-weight: 500;
}
.info-banner-block__title span {
  color: #2B8AFF;
}
.info-banner-block__links {
  display: flex;
  align-items: center;
}
.info-banner-block__download {
  margin: 0px 45px 0px 0px;
  color: #343434;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-banner-block__download img {
  width: 60px;
  margin-bottom: 10px;
}
.info-banner-block__download:hover {
  color: #192A82;
}
.info-banner-block__phone {
  color: #2B8AFF;
  font-size: 22px;
  font-weight: 700;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
.info-banner-block__phone img {
  display: inline-block;
  margin-right: 10px;
}
.info-banner-block__phone:hover {
  color: #192A82;
}
@media (max-width: 992px) {
  .info-banner-block {
    flex-direction: column;
  }
  .info-banner-block__info {
    margin: 0px 0px 30px 0px;
  }
  .info-banner-block__title {
    width: 100%;
  }
}
@media (max-width: 565px) {
  .info-banner-block {
    padding: 30px 15px;
  }
  .info-banner-block__title {
    font-size: 16px;
  }
  .info-banner-block__img {
    margin: 0px 15px 0px 0px;
  }
  .info-banner-block__download {
    margin: 0px 0px 30px 0px;
  }
  .info-banner-block__links {
    flex-direction: column;
  }
  .info-banner-block__phone {
    color: #2B8AFF;
    font-size: 18px;
  }
}

.bg-blue {
  background-color: #D8E9FF;
}

.bg-blue-light {
  background-color: #ECF4FF;
}

.slick-arrow {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 30px 60px 0px rgba(32, 56, 85, 0.15);
  transition: all 0.3s ease 0s;
  font-size: 0;
  position: absolute;
  top: calc(50% - 25px);
  z-index: 2;
}
.slick-arrow:before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #93C1F9;
  border-left: 1px solid #93C1F9;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 20px;
  left: 18px;
}
.slick-arrow:hover {
  border-color: #005fd3;
  box-shadow: 0px 4px 32px 0px rgba(0, 38, 202, 0.1);
}
.slick-arrow:hover:before {
  border-color: #2B8AFF;
}
@media (max-width: 1440px) {
  .slick-arrow {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
  }
  .slick-arrow:before {
    border-color: #2B8AFF;
  }
}

.slick-prev {
  left: -50px;
}
.slick-prev:before {
  left: 22px;
  transform: rotate(-45deg);
}
.slick-prev.slick-disabled {
  display: none !important;
}
@media (max-width: 1440px) {
  .slick-prev {
    left: -15px;
  }
}

.slick-next {
  right: -50px;
}
.slick-next:before {
  transform: rotate(135deg);
}
.slick-next.slick-disabled {
  display: none;
}
@media (max-width: 1440px) {
  .slick-next {
    right: -15px;
  }
}

.slick-dots {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0;
}
.slick-dots button:before {
  display: none;
}

.slick-active button {
  background-color: #2A8AFF;
}

.header__top {
  padding: 35px 0px;
  background-color: #ECF4FF;
}
@media (max-width: 768px) {
  .header__top {
    display: none;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #192A82;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  z-index: 11;
}
.header__logo img {
  margin: 0px 25px 0px 0px;
  width: 70px;
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 0px;
  }
  .header__logo img {
    margin: 0px;
    width: 40px;
  }
}
.header__bottom {
  padding: 24px 0px;
  background-color: #192A82;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list li {
  margin: 0 75px;
}
@media (max-width: 992px) {
  .header__list li {
    margin: 0 50px;
  }
}
.header__link {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  position: relative;
}
.header__link:hover {
  color: #005fd3;
}
.header__link.active {
  color: #005fd3;
}
@media (max-width: 768px) {
  .header__list {
    display: block;
    padding: 100px 0px 20px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0;
    transform: translateY(-120%);
    background-color: #192A82;
    transition: transform 0.3s ease 0s;
    overflow: auto;
    z-index: 11;
  }
  .header__list.active {
    transform: translateY(0%);
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }
  .header__link {
    font-size: 20px;
  }
}

.main__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__content {
  margin: 0px 20px 0px 0px;
  width: 100%;
  max-width: 510px;
}
.main__title {
  margin: 0px 0px 35px 0px;
  color: #192A82;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 600;
}
@media (max-width: 768px) {
  .main__title {
    margin: 0px 0px 25px 0px;
    font-size: 25px;
  }
}
.main__text {
  margin: 0px 0px 30px 0px;
  font-size: 16px;
}
.main__image img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .main__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__content {
    margin: 30px 0px 0px 0px;
    max-width: 100%;
  }
  .main__image {
    order: -1;
  }
}

.main-news-block__head {
  margin: 0px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-news-block__wrapper {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 1200px) {
  .main-news-block__wrapper {
    display: block;
  }
}
.main-news-block__left {
  flex: 0 1 60%;
  padding: 0 10px;
}
.main-news-block__right {
  height: 100%;
  padding: 0 10px;
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .main-news-block__right {
    height: auto;
  }
}
.main-news-block__row {
  flex: 0 0 50%;
}
.main-news-block__row_top {
  margin: 0px 0px 20px 0px;
}
@media (max-width: 1200px) {
  .main-news-block__row_top {
    margin: 20px 0px 20px 0px;
  }
}

.item-main-news {
  padding: 16px;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 16px;
  transition: all 0.3s ease 0s;
  height: 100%;
}
.item-main-news_big {
  height: 100%;
}
.item-main-news_big .item-main-news__photo {
  flex: 0 0 calc(50% - 16px);
}
.item-main-news_big .item-main-news__info {
  flex: 0 0 50%;
}
.item-main-news_big .item-main-news__text {
  display: block;
}
.item-main-news:hover {
  box-shadow: 0px 4px 32px rgba(0, 38, 202, 0.2);
}
.item-main-news:hover .item-main-news__title {
  color: #2B8AFF;
}
.item-main-news__photo {
  margin: 0px 16px 0px 0px;
  flex: 0 1 30%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.item-main-news__info {
  flex: 0 1 70%;
}
.item-main-news__date {
  margin: 0px 0px 16px 0px;
  font-size: 14px;
  color: #2B8AFF;
  font-weight: 500;
}
.item-main-news__title {
  font-size: 20px;
  font-weight: 600;
  color: #192A82;
  transition: all 0.3s ease 0s;
}
.item-main-news__text {
  display: none;
  margin: 16px 0px 0px 0px;
  font-size: 14px;
  color: #192A82;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .item-main-news {
    height: auto;
    min-height: 300px;
  }
  .item-main-news__photo {
    flex: 0 0 calc(50% - 16px);
  }
  .item-main-news__info {
    flex: 0 0 50%;
  }
  .item-main-news__text {
    display: block;
  }
}
@media (max-width: 700px) {
  .item-main-news {
    flex-direction: column;
  }
  .item-main-news__photo {
    padding: 61% 0px 0px 0px;
    margin: 0px 0px 16px 0px;
  }
  .item-main-news__title {
    font-size: 18px;
  }
}

.about__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about__body {
    display: block;
  }
}
.about__content {
  margin: 0px 30px 0px 0px;
  flex: 0 1 60%;
}
.about__title {
  margin: 0px 0px 45px 0px;
}
.about__text {
  margin: 0px 0px 50px 0px;
  font-size: 16px;
  color: #192A82;
}
.about__img {
  flex: 0 1 40%;
}
.about__img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .about__content {
    margin: 0px;
  }
  .about__img {
    display: none;
  }
  .about__title {
    margin: 0px 0px 30px 0px;
  }
  .about__text {
    margin: 0px 0px 30px 0px;
  }
}

.number {
  padding: 30px 0px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
}
.number__item {
  flex: 0 1 33.333%;
  padding: 0 30px;
  position: relative;
  z-index: 2;
  border-right: 2px solid rgba(181, 214, 255, 0.5);
}
.number__item:last-child {
  border-right: none;
}
.number__count {
  margin: 0px 0px 16px 0px;
  font-size: 32px;
  color: #2b8aff;
  font-weight: 700;
}
.number__text {
  font-size: 16px;
  color: #192A82;
}
@media (max-width: 500px) {
  .number {
    padding: 0px 30px;
    flex-direction: column;
    justify-content: center;
  }
  .number__item {
    flex: 0 1 33.333%;
    padding: 20px;
    position: relative;
    z-index: 2;
    border-right: none;
    border-bottom: 2px solid rgba(181, 214, 255, 0.5);
  }
  .number__item:last-child {
    border-bottom: none;
  }
}

.events__head {
  margin: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-news {
  margin: 0 -10px;
}
.slider-news .slick-list {
  padding: 10px 0px;
}
.slider-news .slick-list,
.slider-news .slick-track {
  display: flex;
}
.slider-news__slide {
  padding: 0 10px;
}

.news-card {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex !important;
  flex-direction: column;
  transition: all 0.3s ease 0s;
  height: 100%;
}
.news-card:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 38, 202, 0.2);
}
.news-card:hover .news-card__photo img {
  transform: scale(1.05);
}
.news-card:hover .news-card__title {
  color: #2B8AFF;
}
.news-card__photo {
  display: block;
  margin: 0px 0px 20px 0px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding: 62% 0px 0px 0px;
}
.news-card__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.news-card__date {
  margin: 0px 0px 16px 0px;
  font-size: 14px;
  color: #2B8AFF;
  font-weight: 500;
}
.news-card__title {
  flex: 1 1 auto;
  margin: 0px 0px 16px 0px;
  color: #192A82;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.news-card__geo {
  padding-left: 30px;
  color: #2B8AFF;
  background: url("../images/geo.svg") left top no-repeat;
}

.map {
  margin: 45px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .map {
    flex-direction: column;
  }
}
.map__title {
  margin: 0px 0px 30px 0px;
  font-size: 22px;
  color: #192A82;
  font-weight: 600;
}
.map__img {
  width: 100%;
  max-width: 490px;
  margin: 0px 0px 30px 0px;
}
@media (min-width: 768px) {
  .map__img {
    order: 2;
    margin: 0px;
  }
}
.map__img svg a._active > path {
  fill: #2A8AFF;
}
.map__img path {
  fill: #FAFAFA;
  stroke: #93C1F9;
  stroke-width: 5px;
  stroke-linejoin: round;
  -webkit-transform: matrix(0.5099, 0, 0, 0.5099, 0, 0);
  -ms-transform: matrix(0.5099, 0, 0, 0.5099, 0, 0);
  transform: matrix(0.5099, 0, 0, 0.5099, 0, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.map__img path:hover {
  fill: #2A8AFF;
}
.map__content {
  width: 100%;
  max-width: 720px;
}
@media (min-width: 768px) {
  .map__content {
    order: 1;
  }
}
.map__text {
  margin: 0px 0px 16px 0px;
}
.map__list {
  margin: 24px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.map__list li {
  width: 310px;
  margin: 0px 25px 15px 0px;
}
.map__list li:last-child {
  margin: 0px 25px 0px 0px;
}
@media (max-width: 768px) {
  .map__list {
    flex-direction: column;
    align-items: center;
  }
  .map__list li {
    margin: 0px 0px 15px 0px;
  }
  .map__list li:last-child {
    margin: 0px;
  }
}
@media (max-width: 400px) {
  .map__list li {
    width: 100%;
  }
}
.map__link {
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  color: #192A82;
  text-align: center;
  border: 1px solid rgba(181, 214, 255, 0.4901960784);
  background-color: #ffffff;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.map__link:hover, .map__link._active {
  color: #2B8AFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 38, 202, 0.2);
}
@media (max-width: 480px) {
  .map__link {
    font-size: 14px;
  }
}

.partners {
  padding: 30px 0px;
}
.partners .slick-track {
  display: flex;
  align-items: center;
}
.partners .slick-arrow {
  top: 35%;
}
.partners__item {
  margin: 0 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
}
.partners__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ECF4FF;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.partners__item:hover.partners__item:before {
  opacity: 0;
}
.partners__item img {
  max-width: 100%;
  max-height: 50px;
  margin: 0 auto;
}

.we-now__title {
  margin: 0px 0px 30px 0px;
}
.we-now__body {
  display: flex;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .we-now__body {
    flex-direction: column;
  }
}
.we-now__chairman {
  flex: 0 1 418px;
}
@media (max-width: 768px) {
  .we-now__chairman {
    flex: 1 1 100%;
    align-self: center;
    margin: 0px 0px 20px 0px;
  }
}
.we-now__photo {
  max-width: 100%;
  margin: 0px 0px 15px 0px;
}
.we-now__subtitle {
  font-size: 19px;
  font-weight: 700;
}
.we-now__name {
  font-size: 19px;
  font-weight: 500;
}
.we-now__content {
  margin: 0px 0px 0px 30px;
  flex: 0 1 612px;
}
@media (max-width: 768px) {
  .we-now__content {
    flex: 1 1 100%;
    margin: 0;
  }
}
.we-now__content p {
  margin: 0px 0px 15px 0px;
  font-size: 16px;
}
.we-now__content p:last-child {
  margin: 0;
}

.our-history__title {
  margin: 0px 0px 30px 0px;
}
.our-history__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.our-history__column {
  flex: 0 1 33.3333%;
  padding: 0 20px 60px;
  position: relative;
}
.our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(4) .our-history__info:before {
  display: none;
}
@media (max-width: 950px) {
  .our-history__column {
    flex: 0 1 50%;
  }
  .our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(4) .our-history__info:before {
    display: block;
  }
  .our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(3) .our-history__info:before, .our-history__column:nth-child(5) .our-history__info:before {
    display: none;
  }
}
@media (max-width: 650px) {
  .our-history__column {
    flex: 1 1 100%;
  }
  .our-history__column .our-history__info:before {
    display: none !important;
  }
  .our-history__column:last-child {
    padding: 0 20px 0px;
  }
}
.our-history__info {
  margin: 0px auto 20px;
  width: 160px;
  background-color: #ebf4ff;
  text-align: center;
  position: relative;
}
.our-history__info:before {
  content: "";
  width: 319px;
  height: 9px;
  background: url("../images/arrow-long.svg") 0 0 no-repeat;
  position: absolute;
  top: 46px;
  right: 100%;
  z-index: 1;
}
@media (max-width: 650px) {
  .our-history__info {
    background-color: transparent;
  }
}
.our-history__date {
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}
.our-history__date span {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #93c1f9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 650px) {
  .our-history__date {
    background-color: transparent;
  }
}
.our-history__text {
  font-size: 16px;
  font-weight: 500;
}

.events-cities__title {
  margin: 0px 0px 30px 0px;
}

.cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.cities__column {
  flex: 0 1 50%;
  padding: 0 10px 20px;
}
@media (min-width: 768px) {
  .cities__column_big {
    flex: 0 1 100%;
  }
}
@media (max-width: 768px) {
  .cities__column {
    flex: 0 1 510px;
  }
}
.cities__items {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.cities__items:hover .cities__image img {
  transform: scale(1.1);
}
.cities__image {
  border-radius: 16px;
  overflow: hidden;
}
.cities__image img {
  transition: all 0.5s ease 0s;
  max-width: 100%;
  object-fit: cover;
}
.cities__city {
  padding: 10px 0px 10px 20px;
  background: linear-gradient(90.03deg, #7fabdf 7.76%, rgba(89, 89, 89, 0) 99.97%);
  border-bottom-left-radius: 16px;
  font-size: 32px;
  color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 992px) {
  .cities__city {
    font-size: 26px;
  }
}
@media (max-width: 565px) {
  .cities__city {
    font-size: 22px;
  }
}

.item-events__title {
  margin: 0px 0px 30px 0px;
}

.news__title {
  margin: 0px 0px 30px 0px;
}
.news__body {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.news__column {
  flex: 0 1 50%;
  padding: 0px 10px 20px;
}
.news__column_latest {
  flex: 0 1 100%;
}
@media (max-width: 768px) {
  .news__column {
    flex: 0 1 100%;
  }
}

.news-promo {
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 16px;
  height: 100%;
}
@media (min-width: 768px) {
  .news-promo_latest {
    flex-direction: row;
  }
  .news-promo_latest .news-promo__photo {
    flex: 0 1 49%;
    padding: 25% 0px 0px 0px;
  }
  .news-promo_latest .news-promo__info {
    flex: 0 1 51%;
    margin: 0px 0px 0px 30px;
    max-height: 320px;
  }
  .news-promo_latest .news-promo__info:before {
    top: 300px;
  }
  .news-promo_latest .news-promo__title {
    margin: 0px 0px 20px 0px;
  }
  .news-promo_latest .news-promo__title a {
    font-size: 22px;
  }
}
.news-promo__photo {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding: 48% 0px 0px 0px;
}
.news-promo__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.news-promo__photo:hover img {
  transform: scale(1.05);
}
.news-promo__info {
  margin: 20px 0px 0px 0px;
  height: 100%;
  max-height: 200px;
  position: relative;
  overflow: hidden;
}
.news-promo__info:before {
  content: "";
  height: 20px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0, #fff 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
}
.news-promo__date {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  color: #2B8AFF;
  font-weight: 500;
}
.news-promo__title a {
  color: #192A82;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.news-promo__title a:hover {
  color: #2B8AFF;
}
.news-promo__summary {
  margin: 20px 0px 0px 0px;
}
@media (max-width: 565px) {
  .news-promo {
    padding: 15px;
  }
  .news-promo__info {
    margin: 10px 0px 0px 0px;
    max-height: none;
  }
  .news-promo__info:before {
    display: none;
  }
  .news-promo__summary {
    display: none;
  }
}

.item-news__body {
  padding: 40px 40px 10px;
  background-color: #ECF4FF;
  box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .item-news__body {
    padding: 40px 15px 0px;
  }
}
.item-news__header {
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid #192A82;
}
.item-news__title {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 565px) {
  .item-news__title {
    font-size: 20px;
  }
}
.item-news__date {
  margin: 20px 0px 0px 0px;
  color: #2B8AFF;
  font-size: 16px;
}
.item-news__content {
  padding: 20px 0px;
}
.item-news__content p {
  width: 100%;
  max-width: 900px;
  font-size: 16px;
  text-align: justify;
  margin: 15px auto;
}
.item-news__content img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  height: auto;
}
.item-news__video {
  margin: 30px auto;
  max-width: 900px;
  position: relative;
  aspect-ratio: 16/9;
}
.item-news__video iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.item-news__photo {
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
}
.item-news__photo img {
  max-width: 100%;
  height: auto;
}
.item-news__back {
  display: block;
  padding: 0px 0px 0px 20px;
  margin: 30px 0px 0px 0px;
  font-size: 16px;
  color: #343434;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
}
.item-news__back:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #343434;
  border-left: 2px solid #343434;
  transform: rotate(-45deg);
  position: absolute;
  top: 25%;
  left: 5px;
  transition: all 0.3s ease 0s;
}
.item-news__back:hover {
  color: #005fd3;
}
.item-news__back:hover:before {
  border-color: #005fd3;
  left: 2px;
}

.photo-slider {
  margin: 30px 90px;
}
@media (max-width: 768px) {
  .photo-slider {
    margin: 30px 0;
  }
}
.photo-slider__main img {
  margin: 0;
}
.photo-slider__img {
  margin: 10px 5px 0px;
}
.photo-slider__img img {
  margin: 0;
  max-width: 100%;
}
.photo-slider__nav {
  position: relative;
}
.photo-slider .slick-dots button {
  background-color: #93c1f9;
}
.photo-slider .slick-active button {
  background-color: #2B8AFF;
}
.photo-slider .slick-arrow {
  top: calc(50% - 25px - 10px);
}
.photo-slider .slick-next {
  right: -65px;
}
.photo-slider .slick-prev {
  left: -65px;
}
@media (max-width: 1200px) {
  .photo-slider {
    margin: 30px 0px;
  }
  .photo-slider .slick-next {
    right: -35px;
  }
  .photo-slider .slick-prev {
    left: -35px;
  }
}

.documents__title {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #93c1f9;
}
@media (max-width: 565px) {
  .documents__title {
    padding: 10px;
  }
}
.documents__body {
  background-color: #fff;
}
.documents__documents {
  padding: 30px 20px;
  min-height: 450px;
}
@media (max-width: 565px) {
  .documents__documents {
    padding: 20px 10px;
  }
}
.documents__item {
  display: block;
  padding: 0px 0px 0px 17px;
  margin: 0px 0px 20px 0px;
  color: #343434;
  font-size: 14px;
  font-weight: 500;
  background: url("../images/document.svg") left top no-repeat;
  transition: all 0.3s ease 0s;
}
.documents__item:hover {
  color: #2B8AFF;
}
.documents__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.documents__archive {
  padding: 0px 12px 0px 0px;
  margin: 0px 0px 20px 20px;
  font-size: 20px;
  color: #2b8aff;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
}
.documents__archive:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #2b8aff;
  border-right: 2px solid #2b8aff;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.3s ease 0s;
}
.documents__archive:hover {
  color: #005fd3;
}
.documents__archive:hover:before {
  border-color: #005fd3;
  right: -5px;
}
@media (max-width: 565px) {
  .documents__image {
    display: none;
  }
}

.filter {
  padding: 10px 20px;
  background-color: #edf5ff;
  display: flex;
  align-items: center;
}
@media (max-width: 565px) {
  .filter {
    display: block;
  }
}
.filter__heading {
  padding: 0px 20px 0px 28px;
  font-size: 16px;
  font-weight: 500;
  background: url("../images/sort.svg") left no-repeat;
}
.filter__form {
  display: flex;
  align-items: center;
}
.filter__section {
  margin: 0px 12px;
  position: relative;
}
@media (max-width: 565px) {
  .filter__section {
    margin: 20px 12px 10px;
  }
  .filter__section:first-child {
    margin: 20px 12px 10px 0px;
  }
}
.filter__title {
  padding: 7px 22px 7px 0px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.filter__title:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #343434;
  border-right: 2px solid #343434;
  transform: rotate(135deg);
  position: absolute;
  top: 10px;
  right: 0;
}
.filter__title.active:before {
  top: 15px;
  transform: rotate(-45deg);
}
.filter__title.active + .filter__body {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.filter__body {
  padding: 20px 50px 20px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 35px;
  left: -13px;
  transform: translateY(30px);
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.filter__list li {
  margin: 0px 0px 20px 0px;
}
.filter__label {
  display: block;
  margin: 0px 0px 20px 0px;
}
.filter__input {
  display: none;
}
.filter__input:checked + .filter__text:after {
  transform: rotate(-50deg) scale(1);
}
.filter__text {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.filter__text:before {
  margin: 0px 20px 0px 0px;
  content: "";
  align-self: flex-start;
  flex: 0 0 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #343434;
}
.filter__text:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 10px;
  height: 7px;
  border-left: 2px solid #343434;
  border-bottom: 2px solid #343434;
  transform: rotate(-50deg) scale(0);
  transition: all 0.3s ease 0s;
}

.pagging {
  padding: 0px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 565px) {
  .pagging {
    flex-direction: column;
  }
}
.pagging a {
  color: #343434;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.pagging a:hover {
  color: #000;
}
@media (max-width: 565px) {
  .pagging__start {
    margin: 20px 0px 0px 0px;
    order: 1;
  }
}
.pagging__navi {
  display: flex;
}
.pagging__arrow {
  width: 8px;
  height: 8px;
  border-right: 1px solid #343434;
  border-top: 1px solid #343434;
}
.pagging__arrow:hover {
  border-color: #000;
}
.pagging__arrow_prev {
  transform: rotate(-135deg) translate(-4px, -5px);
}
.pagging__arrow_next {
  transform: rotate(45deg) translate(4px, 5px);
}
.pagging__list {
  display: flex;
}
.pagging__list li {
  margin: 0 9px;
}
.pagging__item.active {
  text-decoration: underline;
  font-weight: 700;
}

.contacts__body {
  background-color: #fff;
  display: flex;
  border-bottom: 3px solid #bfdcff;
}
.contacts__map {
  flex: 0 1 690px;
}
.contacts__info {
  padding: 20px 20px 0;
}
.contacts__title {
  padding: 0px 0px 15px 30px;
  font-size: 18px;
  font-weight: 600;
}
.contacts__title_address {
  background: url("../images/mark.svg") left top no-repeat;
}
.contacts__title_phone {
  background: url("../images/phone.svg") left top no-repeat;
}
.contacts__title_mail {
  background: url("../images/mail.svg") left top no-repeat;
}
.contacts__link {
  display: block;
  margin: 0px 0px 30px 30px;
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.contacts__link:hover {
  color: #005fd3;
}
.contacts__image {
  width: 130px;
}
.contacts__image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .contacts__body {
    flex-direction: column;
    border: none;
  }
  .contacts__map {
    flex: 1 1 auto;
    width: 100%;
  }
  .contacts__title {
    padding: 0px 0px 10px 30px;
  }
  .contacts__info {
    order: -1;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 565px) {
  .contacts__info {
    padding: 10px 10px 0;
  }
  .contacts__link {
    margin: 0px 0px 20px 30px;
    font-size: 16px;
  }
}

.footer {
  padding: 50px 0px 30px;
}
.footer__top {
  display: flex;
  justify-content: space-around;
}
.footer__logo {
  width: 100%;
  max-width: 530px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #192A82;
  font-weight: 500;
}
.footer__logo img {
  margin: 0px 25px 0px 0px;
  width: 80px;
}
.footer__contacts {
  width: 100%;
  max-width: 350px;
}
.footer__row {
  display: flex;
}
.footer__row:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.footer__title {
  width: 100px;
  font-size: 14px;
  color: #192A82;
}
.footer__link {
  color: #2B8AFF;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  color: #005fd3;
}
.footer__bottom {
  margin: 45px 0px 0px 0px;
  padding: 25px 0px 0px 0px;
  border-top: 1px solid #93C1F9;
  display: flex;
  justify-content: space-between;
}
.footer__developer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000000;
}
.footer__developer a {
  color: #192A82;
  font-size: 14px;
  margin: 0px 0px 0px 12px;
  transition: all 0.3s ease 0s;
}
.footer__developer a:hover {
  color: #005fd3;
}
.footer__copyright {
  font-size: 14px;
}
@media (max-width: 992px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    margin: 30px 0px 0px 0px;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__developer {
    margin: 0px 0px 30px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__developer a {
    text-align: center;
    margin: 0px;
  }
}
@media (max-width: 565px) {
  .footer {
    padding: 30px 0px;
  }
  .footer__logo {
    justify-content: center;
  }
  .footer__logo img {
    width: 50px;
    margin: 0;
  }
  .footer__logo span {
    display: none;
  }
  .footer__title {
    width: 80px;
    font-size: 14px;
    color: #192A82;
  }
  .footer__bottom {
    margin: 30px 0px 0px 0px;
  }
}

.error {
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error img {
  max-width: 100%;
}
.error__text {
  margin: 15px 0px 0px 0px;
  font-size: 20px;
}
.error__back {
  color: inherit;
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}
.error__back:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
