* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #343434;
  font-size: 14px;
  line-height: 1.3;
  transition: all 0.3s ease 0s;
}
body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  overflow: hidden;
  min-height: 100%;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1 1 auto;
  padding: 250px 0px 0px 0px;
  min-height: 80vh;
  background: url("../images/main/main.png") center top no-repeat;
}
@media (max-width: 991px) {
  .content {
    padding: 180px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .content {
    padding: 80px 0px 0px 0px;
  }
}
.content__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 110px;
}
.content__bg_1 {
  background: url("../images/main/01.png") center top no-repeat;
}
.content__bg_2 {
  background: url("../images/main/02.png") center top no-repeat;
}
.content__bg_3 {
  background: url("../images/main/03.png") center top no-repeat;
}

.logo {
  margin: 0px 0px 35px 0px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #343434;
  font-weight: 500;
  position: relative;
  z-index: 12;
}
.logo img {
  margin: 0px 30px 0px 0px;
  max-width: 100%;
}
.logo span {
  text-align: center;
}
@media (max-width: 768px) {
  .logo {
    margin: 0;
  }
  .logo span {
    display: none;
  }
}
@media (max-width: 768px) {
  .logo_footer {
    margin: 0px 0px 35px 0px;
  }
  .logo_footer span {
    display: block;
    font-size: 12px;
  }
}
@media (max-width: 565px) {
  .logo_footer span {
    font-size: 8px;
  }
}

.link {
  font-size: 16px;
  color: #343434;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  position: relative;
}
.link:hover {
  color: #005fd3;
}

.title {
  margin: 0px 0px 30px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.title span {
  position: relative;
  z-index: 4;
}
.title span:before {
  content: "";
  width: 100%;
  height: 14px;
  background-color: #b7d7ff;
  position: absolute;
  left: 0;
  bottom: -3px;
  z-index: -1;
}
@media (max-width: 768px) {
  .title span:before {
    display: none;
  }
}
@media (max-width: 565px) {
  .title {
    margin: 0px 0px 20px 0px;
    font-size: 30px;
  }
}

.bg {
  background: linear-gradient(#ffffff 0%, #b5d6ff 50%, #b7d7ff 100%);
  position: relative;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/network.png") center bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.section {
  padding: 90px 0px 100px 0px;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .section {
    padding: 70px 0px 80px 0px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 50px 0px 60px 0px;
  }
}
@media (max-width: 565px) {
  .section {
    padding: 30px 0px 40px 0px;
  }
}

.slick-arrow {
  width: 16px;
  height: 16px;
  border-top: 5px solid #62a9ff;
  border-left: 5px solid #62a9ff;
  transition: all 0.3s ease 0s;
  font-size: 0;
  position: absolute;
  top: 43%;
}

.slick-prev {
  left: -80px;
  transform: rotate(-45deg);
}
.slick-prev:hover {
  border-color: #005fd3;
}
.slick-prev.slick-disabled {
  border-color: #62a9ff;
  cursor: default;
}

.slick-next {
  right: -80px;
  transform: rotate(135deg);
}
.slick-next:hover {
  border-color: #005fd3;
}
.slick-next.slick-disabled {
  border-color: #62a9ff;
  cursor: default;
}

.slick-dots {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;
}
.slick-dots li {
  margin: 0 8px;
}
.slick-dots button {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0;
}
.slick-dots button:before {
  display: none;
}

.slick-active button {
  background-color: #2c8aff;
}

.header {
  background-color: transparent;
  padding: 40px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991px) {
  .header {
    padding: 30px 0;
  }
}
@media (max-width: 565px) {
  .header {
    padding: 20px 0;
  }
}
.header.scroll {
  padding: 10px 0;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header.scroll .header__logo {
  width: 50px;
  height: 50px;
}
@media (max-width: 768px) {
  .header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  .header__burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 8px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger span:first-child {
    top: 0;
  }
  .header__burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }
  .header__burger.active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__list li {
  margin: 0 40px;
}
@media (max-width: 900px) {
  .header__list li {
    margin: 0 30px;
  }
}
.header__link.active {
  color: #005fd3;
}
@media (max-width: 768px) {
  .header__nav {
    display: block;
    padding: 110px 0px 20px 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0;
    transform: translateY(-120%);
    background-color: #e5e5e5;
    transition: transform 0.3s ease 0s;
    overflow: auto;
    z-index: 11;
  }
  .header__nav.active {
    transform: translateY(0%);
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }
  .header__link {
    font-size: 25px;
  }
}

.header__nav.active ~ .header__overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  background-color: rgba(17, 17, 17, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 10;
}

.main__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main__content {
  margin: 0px 30px 0px 0px;
  width: 100%;
  max-width: 330px;
  position: relative;
  z-index: 2;
}
.main__subtitle {
  margin: 0px 0px 15px 0px;
  font-size: 20px;
  font-weight: 500;
}
.main__title {
  margin: 0px 0px 15px 0px;
  font-size: 42px;
  line-height: 1.3;
  font-weight: 700;
}
@media (max-width: 565px) {
  .main__title {
    font-size: 35px;
  }
}
.main__text {
  font-size: 16px;
}
.main__image img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .main__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__content {
    margin: 50px 0px 0px 0px;
    max-width: 100%;
  }
  .main__image {
    order: -1;
  }
}

.directions__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  position: relative;
}
.directions__column {
  flex: 0 1 33.3333%;
  padding: 0 20px 60px;
  position: relative;
  z-index: 2;
}
.directions__column:last-child {
  padding: 0px 20px;
}
.directions__column:before {
  content: "";
  width: 194px;
  height: 2px;
  background-color: #97c3f9;
  position: absolute;
  top: 47px;
  left: 77%;
  z-index: 1;
}
.directions__column:nth-child(3):before, .directions__column:nth-child(6):before {
  display: none;
}
@media (max-width: 950px) {
  .directions__column {
    flex: 0 1 50%;
  }
  .directions__column:nth-child(3):before {
    display: block;
  }
  .directions__column:nth-child(2):before, .directions__column:nth-child(4):before {
    display: none;
  }
}
@media (max-width: 565px) {
  .directions__column {
    flex: 1 1 100%;
  }
  .directions__column:nth-child(3):before {
    display: none;
  }
  .directions__column:before {
    display: none;
  }
}
.directions__icon {
  margin: 0px auto 20px;
  text-align: center;
  width: 198px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.directions__icon img {
  max-width: 100%;
}
.directions__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.number {
  background-color: #ebf4ff;
}
.number__body {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 -30px;
}
.number__body:before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #93c1f9;
  position: absolute;
  top: 114px;
  z-index: 1;
}
.number__column {
  padding: 0 30px;
  position: relative;
  z-index: 2;
  background-color: #ebf4ff;
}
.number__item {
  text-align: center;
}
.number__content {
  margin: 0px 0px 30px 0px;
  width: 230px;
  height: 230px;
  border: 4px solid #93c1f9;
  border-radius: 50%;
  font-size: 70px;
  color: #2b8aff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number__text {
  margin: 0 auto;
  width: 170px;
  font-size: 22px;
  color: #2b8aff;
  font-weight: 700;
  text-align: left;
}
@media (max-width: 850px) {
  .number__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .number__body:before {
    display: none;
  }
  .number__column {
    padding: 0 20px 30px;
  }
  .number__column:last-child {
    padding: 0px 20px 0px;
  }
  .number__content {
    margin: 0px auto 30px;
  }
  .number__text {
    width: 100%;
  }
}

.map {
  background: linear-gradient(0deg, #b7d7ff 0%, rgba(181, 214, 255, 0.489583) 51.04%, rgba(255, 255, 255, 0) 100%);
}
.map__body {
  margin: 0px 0px 95px 0px;
  position: relative;
}
.map__body img {
  max-width: 100%;
}
@media (max-width: 565px) {
  .map__body {
    margin: 0px 0px 40px 0px;
  }
}
.map__mark {
  padding: 0px 0px 0px 30px;
  background: url("../images/mark-map.svg") left top no-repeat;
  font-size: 24px;
  color: #2c8aff;
  font-weight: 500;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.map__mark:hover {
  color: #005fd3;
}
.map__mark_minsk {
  top: 50%;
  left: 46%;
}
.map__mark_mogilev {
  top: 48%;
  left: 75%;
}
.map__mark_gomel {
  top: 78%;
  left: 75%;
}
.map__mark_hrodno {
  top: 54%;
  left: 7%;
}
.map__mark_brest {
  top: 85%;
  left: 7%;
}
.map__mark_vitebsk {
  top: 21%;
  right: 18%;
  left: 69%;
}
@media (max-width: 565px) {
  .map__mark {
    left: 20%;
  }
  .map__mark_minsk {
    top: 5%;
  }
  .map__mark_mogilev {
    top: 20%;
  }
  .map__mark_gomel {
    top: 35%;
  }
  .map__mark_hrodno {
    top: 50%;
  }
  .map__mark_brest {
    top: 65%;
  }
  .map__mark_vitebsk {
    top: 80%;
  }
}

.partners .slick-track {
  display: flex;
  align-items: center;
}
.partners__item {
  margin: 0 10px;
  display: block;
  position: relative;
  z-index: 2;
}
.partners__item:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #b7d7ff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.partners__item:hover.partners__item:before {
  opacity: 0;
}
.partners__item img {
  width: 100%;
}

.we-now__body {
  display: flex;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .we-now__body {
    flex-direction: column;
  }
}
.we-now__chairman {
  flex: 0 1 418px;
}
@media (max-width: 768px) {
  .we-now__chairman {
    flex: 1 1 100%;
    align-self: center;
    margin: 0px 0px 20px 0px;
  }
}
.we-now__photo {
  max-width: 100%;
  margin: 0px 0px 15px 0px;
}
.we-now__subtitle {
  font-size: 19px;
  font-weight: 700;
}
.we-now__name {
  font-size: 19px;
  font-weight: 500;
}
.we-now__content {
  margin: 0px 0px 0px 30px;
  flex: 0 1 612px;
}
@media (max-width: 768px) {
  .we-now__content {
    flex: 1 1 100%;
    margin: 0;
  }
}
.we-now__content p {
  margin: 0px 0px 15px 0px;
  font-size: 16px;
}
.we-now__content p:last-child {
  margin: 0;
}

.our-history {
  background-color: #ebf4ff;
}
.our-history__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.our-history__column {
  flex: 0 1 33.3333%;
  padding: 0 20px 60px;
  position: relative;
}
.our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(4) .our-history__info:before {
  display: none;
}
@media (max-width: 950px) {
  .our-history__column {
    flex: 0 1 50%;
  }
  .our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(4) .our-history__info:before {
    display: block;
  }
  .our-history__column:nth-child(1) .our-history__info:before, .our-history__column:nth-child(3) .our-history__info:before, .our-history__column:nth-child(5) .our-history__info:before {
    display: none;
  }
}
@media (max-width: 565px) {
  .our-history__column {
    flex: 1 1 100%;
  }
  .our-history__column .our-history__info:before {
    display: none !important;
  }
  .our-history__column:last-child {
    padding: 0 20px 0px;
  }
}
.our-history__info {
  margin: 0px auto 20px;
  width: 160px;
  background-color: #ebf4ff;
  text-align: center;
  position: relative;
}
.our-history__info:before {
  content: "";
  width: 319px;
  height: 9px;
  background: url("../images/arrow-long.svg") 0 0 no-repeat;
  position: absolute;
  top: 46px;
  right: 100%;
  z-index: 1;
}
.our-history__date {
  margin: 0 auto;
  background-color: #ebf4ff;
  position: relative;
  z-index: 2;
}
.our-history__date span {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #93c1f9;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-history__text {
  font-size: 16px;
  font-weight: 500;
}

.slider-events {
  margin: 0px 0px 60px 0px;
}
.slider-events__item img {
  width: 100%;
}
.slider-events .slick-dots {
  margin: -45px 0px 0px 0px;
}
@media (max-width: 565px) {
  .slider-events .slick-dots {
    margin: -30px 0px 0px 0px;
  }
}

.cities {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.cities__column {
  flex: 0 1 50%;
  padding: 0 15px 30px;
}
@media (max-width: 768px) {
  .cities__column {
    flex: 0 1 510px;
  }
}
.cities__items {
  position: relative;
  z-index: 2;
}
.cities__items:hover .cities__image img {
  transform: scale(1.1);
}
.cities__image {
  overflow: hidden;
}
.cities__image img {
  transition: all 0.5s ease 0s;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cities__city {
  margin: -76px 0px 0px 0px;
  padding: 0px 0px 0px 30px;
  background: linear-gradient(90.03deg, #7fabdf 7.76%, rgba(89, 89, 89, 0) 99.97%);
  font-size: 32px;
  color: #fff;
  line-height: 76px;
  position: relative;
  z-index: 1;
}
@media (max-width: 565px) {
  .cities__city {
    margin: -50px 0px 0px 0px;
    font-size: 22px;
    line-height: 50px;
  }
}

.last-news__body {
  display: flex;
  background-color: #fff;
}
.last-news__content {
  flex: 0 1 600px;
}
.last-news__label {
  padding: 0px 0px 0px 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  background-color: #93c1f9;
}
@media (max-width: 565px) {
  .last-news__label {
    font-size: 18px;
    padding: 0px 0px 0px 10px;
  }
}
.last-news__article {
  padding: 20px 30px 0px;
  background-color: #fff;
}
@media (max-width: 565px) {
  .last-news__article {
    padding: 10px 10px 0px;
  }
}
.last-news__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 30px 0px;
}
@media (max-width: 565px) {
  .last-news__header {
    display: block;
    margin: 0px 0px 20px 0px;
  }
}
.last-news__title {
  margin: 0px 30px 0px 0px;
  flex: 1 1 auto;
  color: #343434;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.last-news__title:hover {
  color: #2B8AFF;
}
@media (max-width: 565px) {
  .last-news__title {
    display: block;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
  }
}
.last-news__date {
  color: #2B8AFF;
  font-size: 18px;
}
@media (max-width: 565px) {
  .last-news__date {
    font-size: 16px;
  }
}
.last-news__text p {
  font-size: 18px;
  margin: 0px 0px 15px 0px;
}
.last-news__text p:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 565px) {
  .last-news__text p {
    font-size: 16px;
  }
}
.last-news__image {
  text-align: center;
}
.last-news__image img {
  max-width: 100%;
}
.last-news__photo {
  flex: 0 0 450px;
  position: relative;
}
.last-news__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991px) {
  .last-news__body {
    display: block;
  }
  .last-news__content {
    margin: 0px 0px 30px 0px;
  }
  .last-news__photo {
    width: 100%;
  }
  .last-news__photo img {
    max-width: 100%;
    position: relative;
  }
}

.news__slide {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
  flex-wrap: wrap;
  position: relative;
  z-index: 6;
}
.news__item {
  flex: 0 1 25%;
  padding: 0px 15px 0px;
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .news__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 565px) {
  .news__item {
    flex: 1 1 100%;
  }
}
.news__image {
  display: inline-block;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}
.news__image img {
  max-width: 100%;
  transition: all 0.5s ease 0s;
}
.news__image:hover img {
  transform: scale(1.1);
}
.news__title {
  flex: 1 1 auto;
  display: inline-block;
  color: #343434;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
  transition: all 0.3s ease 0s;
}
.news__title:hover {
  color: #2b8aff;
}
.news__date {
  font-size: 18px;
  color: #2b8aff;
  font-weight: 500;
}

.item-news__header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #93C1F9;
}
@media (max-width: 565px) {
  .item-news__header {
    display: block;
    padding: 10px;
  }
}
.item-news__title {
  margin: 0px 30px 0px 0px;
  flex: 1 1 auto;
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 565px) {
  .item-news__title {
    display: block;
    font-size: 20px;
    margin: 0px 0px 5px 0px;
  }
}
.item-news__date {
  color: #ffffff;
  font-size: 18px;
}
@media (max-width: 565px) {
  .item-news__date {
    font-size: 16px;
  }
}
.item-news__content {
  padding: 20px 30px;
  background-color: #FAFAFA;
}
@media (max-width: 565px) {
  .item-news__content {
    padding: 10px;
  }
}
.item-news__content p {
  font-size: 18px;
  padding: 0px 0px 15px 0px;
  text-align: justify;
}
@media (max-width: 565px) {
  .item-news__content p {
    font-size: 15px;
  }
}
.item-news__photo {
  margin: 0 90px 15px;
}
@media (max-width: 768px) {
  .item-news__photo {
    margin: 0 0 15px;
  }
}
.item-news__photo img {
  max-width: 100%;
}
.item-news__back {
  display: block;
  padding: 0px 0px 0px 20px;
  margin: 20px 0px 0px 0px;
  font-size: 16px;
  color: #343434;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
}
.item-news__back:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #343434;
  border-left: 2px solid #343434;
  transform: rotate(-45deg);
  position: absolute;
  top: 25%;
  left: 5px;
  transition: all 0.3s ease 0s;
}
.item-news__back:hover {
  color: #005fd3;
}
.item-news__back:hover:before {
  border-color: #005fd3;
  left: 2px;
}

.photo-slider {
  margin: 0 90px 15px;
}
@media (max-width: 768px) {
  .photo-slider {
    margin: 0 0 15px;
  }
}
.photo-slider__img {
  margin: 10px 5px 0px;
}
.photo-slider__img img {
  max-width: 100%;
}
.photo-slider .slick-dots button {
  background-color: #93c1f9;
}
.photo-slider .slick-active button {
  background-color: #2B8AFF;
}

.documents__title {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #93c1f9;
}
@media (max-width: 565px) {
  .documents__title {
    padding: 10px;
  }
}
.documents__body {
  background-color: #fff;
}
.documents__documents {
  padding: 30px 20px;
}
@media (max-width: 565px) {
  .documents__documents {
    padding: 20px 10px;
  }
}
.documents__item {
  display: block;
  padding: 0px 0px 0px 17px;
  margin: 0px 0px 20px 0px;
  color: #343434;
  font-size: 12px;
  font-weight: 500;
  background: url("../images/document.svg") left top no-repeat;
  transition: all 0.3s ease 0s;
}
.documents__item:hover {
  color: #2B8AFF;
}
.documents__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.documents__archive {
  padding: 0px 12px 0px 0px;
  margin: 0px 0px 20px 20px;
  font-size: 20px;
  color: #2b8aff;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  position: relative;
}
.documents__archive:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #2b8aff;
  border-right: 2px solid #2b8aff;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.3s ease 0s;
}
.documents__archive:hover {
  color: #005fd3;
}
.documents__archive:hover:before {
  border-color: #005fd3;
  right: -5px;
}
@media (max-width: 565px) {
  .documents__image {
    display: none;
  }
}

.filter {
  padding: 10px 20px;
  background-color: #edf5ff;
  display: flex;
  align-items: center;
}
@media (max-width: 565px) {
  .filter {
    display: block;
  }
}
.filter__heading {
  padding: 0px 20px 0px 28px;
  font-size: 16px;
  font-weight: 500;
  background: url("../images/sort.svg") left no-repeat;
}
.filter__form {
  display: flex;
  align-items: center;
}
.filter__section {
  margin: 0px 12px;
  position: relative;
}
@media (max-width: 565px) {
  .filter__section {
    margin: 20px 12px 10px;
  }
  .filter__section:first-child {
    margin: 20px 12px 10px 0px;
  }
}
.filter__title {
  padding: 7px 22px 7px 0px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.filter__title:before {
  content: "";
  width: 9px;
  height: 9px;
  border-top: 2px solid #343434;
  border-right: 2px solid #343434;
  transform: rotate(135deg);
  position: absolute;
  top: 10px;
  right: 0;
}
.filter__title.active:before {
  top: 15px;
  transform: rotate(-45deg);
}
.filter__title.active + .filter__body {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.filter__body {
  padding: 20px 50px 20px 20px;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.13);
  position: absolute;
  top: 35px;
  left: -13px;
  transform: translateY(30px);
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.filter__list li {
  margin: 0px 0px 20px 0px;
}
.filter__label {
  display: block;
  margin: 0px 0px 20px 0px;
}
.filter__input {
  display: none;
}
.filter__input:checked + .filter__text:after {
  transform: rotate(-50deg) scale(1);
}
.filter__text {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.filter__text:before {
  margin: 0px 20px 0px 0px;
  content: "";
  align-self: flex-start;
  flex: 0 0 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid #343434;
}
.filter__text:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 10px;
  height: 7px;
  border-left: 2px solid #343434;
  border-bottom: 2px solid #343434;
  transform: rotate(-50deg) scale(0);
  transition: all 0.3s ease 0s;
}
.filter__button {
  background-color: #93c1f9;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 0px 0px 20px;
  padding: 7px 10px;
  transition: all 0.3s ease 0s;
}
.filter__button:hover {
  background-color: #2B8AFF;
}

.pagging {
  padding: 0px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 565px) {
  .pagging {
    flex-direction: column;
  }
}
.pagging a {
  color: #343434;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}
.pagging a:hover {
  color: #000;
}
@media (max-width: 565px) {
  .pagging__start {
    margin: 20px 0px 0px 0px;
    order: 1;
  }
}
.pagging__navi {
  display: flex;
}
.pagging__arrow {
  width: 8px;
  height: 8px;
  border-right: 1px solid #343434;
  border-top: 1px solid #343434;
}
.pagging__arrow:hover {
  border-color: #000;
}
.pagging__arrow_prev {
  transform: rotate(-135deg) translate(-4px, -5px);
}
.pagging__arrow_next {
  transform: rotate(45deg) translate(4px, 5px);
}
.pagging__list {
  display: flex;
}
.pagging__list li {
  margin: 0 9px;
}
.pagging__item.active {
  text-decoration: underline;
  font-weight: 700;
}

.contacts__body {
  background-color: #fff;
  display: flex;
  border-bottom: 3px solid #bfdcff;
}
.contacts__map {
  flex: 0 1 690px;
}
.contacts__info {
  padding: 20px 20px 0;
}
.contacts__title {
  padding: 0px 0px 15px 30px;
  font-size: 18px;
  font-weight: 600;
}
.contacts__title_address {
  background: url("../images/mark.svg") left top no-repeat;
}
.contacts__title_phone {
  background: url("../images/phone.svg") left top no-repeat;
}
.contacts__title_mail {
  background: url("../images/mail.svg") left top no-repeat;
}
.contacts__text {
  display: block;
  margin: 0px 0px 30px 30px;
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.contacts__image {
  width: 130px;
}
.contacts__image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .contacts__body {
    flex-direction: column;
    border: none;
  }
  .contacts__map {
    flex: 1 1 auto;
    width: 100%;
  }
  .contacts__title {
    padding: 0px 0px 10px 30px;
  }
  .contacts__info {
    order: -1;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 565px) {
  .contacts__info {
    padding: 10px 10px 0;
  }
  .contacts__text {
    margin: 0px 0px 20px 30px;
    font-size: 16px;
  }
}

a.contacts__text:hover {
  color: #005fd3;
}

.footer {
  padding: 55px 0px 40px 0px;
  background-color: #9cc5f8;
  position: relative;
  z-index: 2;
}
@media (max-width: 565px) {
  .footer {
    padding: 30px 0px 30px 0px;
  }
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 55px 0px;
}
@media (max-width: 991px) {
  .footer__column {
    margin: 0px 0px 35px 0px;
  }
}
.footer__title {
  padding: 0px 0px 15px 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__title_address {
  background: url("../images/mark.svg") left top no-repeat;
}
.footer__title_phone {
  background: url("../images/phone.svg") left top no-repeat;
}
.footer__title_mail {
  background: url("../images/mail.svg") left top no-repeat;
}
.footer__text {
  margin: 0px 0px 0px 30px;
  color: #343434;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.footer__developer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}
.footer__developer a {
  color: #343434;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 0px 12px;
  background: url("../images/info-center.svg") left top no-repeat;
  transition: all 0.3s ease 0s;
}
.footer__developer a:hover {
  color: #005fd3;
}
@media (max-width: 991px) {
  .footer__contacts {
    display: block;
  }
}

a.footer__text:hover {
  color: #005fd3;
}

.error {
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error img {
  max-width: 100%;
}
.error__text {
  margin: 15px 0px 0px 0px;
  font-size: 20px;
}
.error__back {
  color: inherit;
  font-size: 18px;
  margin: 15px 0px 0px 0px;
}
.error__back:hover {
  text-decoration: underline;
}