* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

aside,
nav,
footer,
header,
section {
   display: block;
}
html,
body {
	height: 100%;
   min-width: 320px;
}
body {
   font-family: 'Montserrat', sans-serif;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   color: #343434;
   font-size: 14px;
   line-height: 1.3;
   transition: all 0.3s ease 0s;

   &.lock {
      overflow: hidden;
   }
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
   background-color: transparent;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
.container {
   width: 100%;
   max-width: 1090px;
   margin: 0 auto;
   padding: 0 20px;
}
.wrapper {
	display: flex;
	overflow: hidden;
	min-height: 100%;
	flex-direction: column;
}
.content {
	position: relative;
	flex: 1 1 auto;
	padding: 250px 0px 0px 0px;
	min-height: 80vh;
	background: url('../images/main/main.png') center top no-repeat;

	@media (max-width: 991px) {
		padding: 180px 0px 0px 0px;
	}

	@media (max-width: 768px) {
		padding: 80px 0px 0px 0px;
	}

	&__bg {
      width: 100%;
      height: 100%;
      position: absolute;
		top: 110px;

      &_1 {
         background: url('../images/main/01.png') center top no-repeat;
      }

      &_2 {
         background: url('../images/main/02.png') center top no-repeat;
      }

      &_3 {
         background: url('../images/main/03.png') center top no-repeat;
      }
   }
}
.logo {
   margin: 0px 0px 35px 0px;
   display: flex;
   align-items: center;
   font-size: 16px;
   color: #343434;
   font-weight: 500;
   position: relative;
   z-index: 12;
	
   img {
		margin: 0px 30px 0px 0px;
      max-width: 100%;
   }
	
   span {
		text-align: center;
   }
   @media (max-width: 768px) {
		margin: 0;
		
      span {
			display: none;
      }
   }
	
		&_footer {
			@media (max-width: 768px) {
				margin: 0px 0px 35px 0px;
				span {
					display: block;
					font-size: 12px;
				}
			}

			@media (max-width: 565px) {
				span {
					font-size: 8px;
				}
			}
		}
}
.link {
   font-size: 16px;
   color: #343434;
   font-weight: 600;
   transition: all 0.3s ease 0s;
   position: relative;

   &:hover {
      color: #005fd3;
   }
}
.title {
   margin: 0px 0px 30px 0px;
   text-align: center;
   font-size: 24px;
   font-weight: 700;

   span {
      position: relative;
      z-index: 4;

      &:before {
         content: '';
         width: 100%;
         height: 14px;
         background-color: #b7d7ff;
         position: absolute;
         left: 0;
         bottom: -3px;
         z-index: -1;

			@media (max-width: 768px) {
				display: none;
			}
      }
   }

   @media (max-width: 565px) {
      margin: 0px 0px 20px 0px;
      font-size: 30px;
   }
}
.bg {
   background: linear-gradient(#ffffff 0%, #b5d6ff 50%, #b7d7ff 100%);
   position: relative;

   &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: url('../images/network.png') center bottom no-repeat;
      position: absolute;
      top: 0;
      left: 0;
   }
}
.section {
   padding: 90px 0px 100px 0px;
	position: relative;
	z-index: 2;

	@media (max-width: 991px) {
		padding: 70px 0px 80px 0px;
	}

	@media (max-width: 768px) {
		padding: 50px 0px 60px 0px;
	}
	@media (max-width: 565px) {
		padding: 30px 0px 40px 0px;
	}
}
.slick-arrow {
	width: 16px;
	height: 16px;
	border-top: 5px solid #62a9ff;
	border-left: 5px solid #62a9ff;
	transition: all 0.3s ease 0s;
	font-size: 0;
	position: absolute;
	top: 43%;
}
.slick-prev {
	left: -80px;
	transform: rotate(-45deg);

	&:hover {
		border-color: #005fd3;
	}

	&.slick-disabled {
		border-color: #62a9ff;
		cursor: default;
	}
}
.slick-next {
	right: -80px;
	transform: rotate(135deg);

	&:hover {
		border-color: #005fd3;
	}

	&.slick-disabled {
		border-color: #62a9ff;
		cursor: default;
	}
}
.slick-dots {
	margin: 20px 0px 0px 0px;
	display: flex;
	justify-content: center;
	position: relative;

	li {
		margin: 0 8px;
	}

	button {
		width: 8px;
		height: 8px;
		border-radius: 5px;
		background-color: #fff;
		font-size: 0;

		&:before {
			display: none;
		}
	}
}
.slick-active button {
	background-color: #2c8aff;
}
.header {
   background-color: transparent;
   padding: 40px 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   transition: all 0.3s ease 0s;

   @media (max-width: 991px) {
      padding: 30px 0;
   }

   @media (max-width: 565px) {
      padding: 20px 0;
   }

   &.scroll {
      padding: 10px 0;
      position: fixed;
      background-color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      .header__logo {
         width: 50px;
         height: 50px;
      }
   }

   &__body {
      @media (max-width: 768px) {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }
   }

   &__burger {
      display: none;

      @media (max-width: 768px) {
         display: block;
         width: 30px;
         height: 18px;
         cursor: pointer;
         position: relative;
         z-index: 11;

         span {
            width: 100%;
            height: 2px;
            background-color: #000;
            position: absolute;
            top: 8px;
            left: 0;
            transition: all 0.3s ease 0s;

            &:first-child {
               top: 0;
            }
            &:last-child {
               top: auto;
               bottom: 0;
            }
         }

         &.active {
            span {
               transform: scale(0);

               &:first-child {
                  transform: rotate(-45deg);
                  top: 8px;
               }
               &:last-child {
                  transform: rotate(45deg);
                  bottom: 8px;
               }
            }
         }
      }
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__list {
      display: flex;

      li {
         margin: 0 40px;

         @media (max-width: 900px) {
            margin: 0 30px;
         }
      }
   }

   &__link {
      &.active {
         color: #005fd3;
      }
   }

   @media (max-width: 768px) {
      &__nav {
         display: block;
         padding: 110px 0px 20px 0px;
         width: 100%;
			height: 100%;
         text-align: center;
         position: fixed;
         top: 0px;
         left: 0;
         transform: translateY(-120%);
         background-color: #e5e5e5;
         transition: transform 0.3s ease 0s;
         overflow: auto;
         z-index: 11;

         &.active {
            transform: translateY(0%);
         }
      }

      &__list {
         display: block;

         li {
            margin: 0px 0px 30px 0px;
         }
      }

      &__link {
         font-size: 25px;
      }
   }
}
.header__nav.active ~ .header__overlay {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: all 0.3s ease 0s;
   background-color: rgba(17, 17, 17, 0.4);
   -webkit-backdrop-filter: blur(8px);
   backdrop-filter: blur(8px);
   z-index: 10;
}
.main {

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

   &__content {
      margin: 0px 30px 0px 0px;
      width: 100%;
      max-width: 330px;
      position: relative;
      z-index: 2;
   }

   &__subtitle {
      margin: 0px 0px 15px 0px;
      font-size: 20px;
      font-weight: 500;
   }

   &__title {
      margin: 0px 0px 15px 0px;
      font-size: 42px;
      line-height: 1.3;
      font-weight: 700;

		@media (max-width: 565px) {
			font-size: 35px;
		}
   }

   &__text {
      font-size: 16px;
   }

   &__image {
      img {
         max-width: 100%;
      }
   }

   @media (max-width: 768px) {
		&__body {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

      &__content {
         margin: 50px 0px 0px 0px;
         max-width: 100%;
      }

      &__image {
         order: -1;
      }
   }
}
.directions {
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
      position: relative;
   }

   &__column {
      flex: 0 1 33.3333%;
      padding: 0 20px 60px;
      position: relative;
      z-index: 2;

		&:last-child {
			padding: 0px 20px;
		}

      &:before {
         content: '';
         width: 194px;
         height: 2px;
         background-color: #97c3f9;
         position: absolute;
         top: 47px;
         left: 77%;
         z-index: 1;
      }

      &:nth-child(3),
      &:nth-child(6) {
         &:before {
            display: none;
         }
      }

      @media (max-width: 950px) {
         flex: 0 1 50%;

         &:nth-child(3) {
            &:before {
               display: block;
            }
         }

         &:nth-child(2),
         &:nth-child(4) {
            &:before {
               display: none;
            }
         }
      }

		@media (max-width: 565px) {
			flex: 1 1 100%;
			&:nth-child(3) {
            &:before {
               display: none;
            }
         }

			&:before {
				display: none;
			}
		}
   }

   &__item {
   }

   &__icon {
      margin: 0px auto 20px;
      text-align: center;
      width: 198px;
      background-color: #fff;
      position: relative;
      z-index: 2;

      img {
         max-width: 100%;
      }
   }

   &__text {
		text-align: center;
      font-size: 16px;
      font-weight: 500;
   }
}
.number {
   background-color: #ebf4ff;

   &__body {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin: 0 -30px;

      &:before {
         content: '';
         width: 100%;
         height: 4px;
         background-color: #93c1f9;
         position: absolute;
         top: 114px;
         z-index: 1;
      }
   }

   &__column {
      padding: 0 30px;
      position: relative;
      z-index: 2;
      background-color: #ebf4ff;
   }

   &__item {
      text-align: center;
   }

   &__content {
      margin: 0px 0px 30px 0px;
      width: 230px;
      height: 230px;
      border: 4px solid #93c1f9;
      border-radius: 50%;
      font-size: 70px;
      color: #2b8aff;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__text {
      margin: 0 auto;
      width: 170px;
      font-size: 22px;
      color: #2b8aff;
      font-weight: 700;
      text-align: left;
   }

   @media (max-width: 850px) {
      &__body {
         flex-direction: column;
         justify-content: center;
         align-items: center;

         &:before {
            display: none;
         }
      }

      &__column {
         padding: 0 20px 30px;

         &:last-child {
            padding: 0px 20px 0px;
         }
      }

      &__content {
         margin: 0px auto 30px;
      }

      &__text {
         width: 100%;
      }
   }
}
.map {
   background: linear-gradient(
      0deg,
      #b7d7ff 0%,
      rgba(181, 214, 255, 0.489583) 51.04%,
      rgba(255, 255, 255, 0) 100%
   );

   &__title {
   }

   &__body {
      margin: 0px 0px 95px 0px;
      position: relative;

      img {
         max-width: 100%;
      }

		@media (max-width: 565px) {
			margin: 0px 0px 40px 0px;
		}
   }

   &__mark {
      padding: 0px 0px 0px 30px;
      background: url('../images/mark-map.svg') left top no-repeat;
      font-size: 24px;
      color: #2c8aff;
      font-weight: 500;
      position: absolute;
      z-index: 2;
      transition: all 0.3s ease 0s;

      &:hover {
         color: #005fd3;
      }

      &_minsk {
         top: 50%;
         left: 46%;
      }

      &_mogilev {
         top: 48%;
      	left: 75%;
		}
      &_gomel {
			top: 78%;
			left: 75%;
      }

      &_hrodno {
         top: 54%;
         left: 7%;
      }

      &_brest {
			top: 85%;
         left: 7%;
      }

      &_vitebsk {
         top: 21%;
         right: 18%;
         left: 69%;
      }

		
		@media (max-width: 565px) {
			left: 20%;

			&_minsk {
				top: 5%;
			}
	
			&_mogilev {
				top: 20%;
			}
	
			&_gomel {
				top: 35%;
			}
	
			&_hrodno {
				top: 50%;
			}
	
			&_brest {
				top: 65%;
			}
	
			&_vitebsk {
				top: 80%;
			}
		}
   }
}
.partners {

	.slick-track {
		display: flex;
		align-items: center;
	}

   &__item {
		margin: 0 10px;
		display: block;
      position: relative;
      z-index: 2;

      &:before {
         content: '';
         width: 100%;
         height: 100%;
         background-color: #b7d7ff;
         opacity: 0.8;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         transition: all 0.3s ease 0s;
      }

      &:hover.partners__item:before {
         opacity: 0;
      }

		img {
			width: 100%;
		}
   }
}
.we-now {
   &__body {
      display: flex;
      position: relative;
      z-index: 2;

		@media (max-width: 768px) {
			flex-direction: column;
		}
   }

   &__chairman {
      flex: 0 1 418px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			align-self: center;
			margin: 0px 0px 20px 0px;
		}
   }

   &__photo {
      max-width: 100%;
      margin: 0px 0px 15px 0px;
   }

   &__subtitle {
      font-size: 19px;
      font-weight: 700;
   }

   &__name {
      font-size: 19px;
      font-weight: 500;
   }

   &__content {
      margin: 0px 0px 0px 30px;
      flex: 0 1 612px;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			margin: 0;
		}

      p {
         margin: 0px 0px 15px 0px;
         font-size: 16px;

         &:last-child {
            margin: 0;
         }
      }
   }
}
.our-history {
   background-color: #ebf4ff;

   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
   }
	
   &__column {
		flex: 0 1 33.3333%;
      padding: 0 20px 60px;
		position: relative;

		&:nth-child(1),
		&:nth-child(4) {
			.our-history__info:before {
				display: none;
			}
		}

		@media (max-width: 950px) {
			flex: 0 1 50%;

			&:nth-child(1),
			&:nth-child(4) {
				.our-history__info:before {
					display: block;
				}
			}

			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5) {
				.our-history__info:before {
					display: none;
				}
			}
		}

		@media (max-width: 565px) {
			flex: 1 1 100%;

			.our-history__info:before {
				display: none !important;
			}

			&:last-child {
				padding: 0 20px 0px;
			}
		}
   }

   &__item {
   }

   &__info {
      margin: 0px auto 20px;
      width: 160px;
      background-color: #ebf4ff;
      text-align: center;
      position: relative;
		
		&:before {
			content: '';
			width: 319px;
			height: 9px;
			background: url('../images/arrow-long.svg') 0 0 no-repeat;
			position: absolute;
			top: 46px;
			right: 100%;
			z-index: 1;
		}
   }
	
   &__date {
		margin: 0 auto;
      background-color: #ebf4ff;
		position: relative;
		z-index: 2;
		
		span {
			margin: 0 auto;
			width: 100px;
			height: 100px;
			color: #fff;
			font-size: 14px;
			font-weight: 700;      
			background-color: #93c1f9;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
   }

   &__text {
      font-size: 16px;
      font-weight: 500;
   }
}
.slider-events {
   margin: 0px 0px 60px 0px;

   &__item {

      img {
         width: 100%;
      }
   }

	.slick-dots {
		margin: -45px 0px 0px 0px;

		@media (max-width: 565px) {
			margin: -30px 0px 0px 0px;
		}
	}
}
.cities {
   display: flex;
	justify-content: center;
   flex-wrap: wrap;
   margin: 0 -15px;

   &__column {
      flex: 0 1 50%;
      padding: 0 15px 30px;

		@media (max-width: 768px) {
			flex: 0 1 510px;
		}
   }

   &__items {
      position: relative;
      z-index: 2;

      &:hover {
         .cities__image {
            img {
               transform: scale(1.1);
            }
         }
      }
   }

   &__image {
      overflow: hidden;

      img {
         transition: all 0.5s ease 0s;
         max-width: 100%;
         object-fit: cover;
      }
   }

   &__city {
      margin: -76px 0px 0px 0px;
      padding: 0px 0px 0px 30px;
      background: linear-gradient(
         90.03deg,
         #7fabdf 7.76%,
         rgba(89, 89, 89, 0) 99.97%
      );
      font-size: 32px;
      color: #fff;
      line-height: 76px;
      position: relative;
      z-index: 1;

		@media (max-width: 565px) {
			margin: -50px 0px 0px 0px;
			font-size: 22px;
			line-height: 50px;
		}
   }
}
.last-news {

	&__body {
		display: flex;
		background-color: #fff;
	}

   &__content {
      flex: 0 1 600px;
   }

   &__label {
      padding: 0px 0px 0px 30px;
      font-size: 20px;
      font-weight: 500;
      line-height: 40px;
      background-color: #93c1f9;

		@media (max-width: 565px) {
			font-size: 18px;
			padding: 0px 0px 0px 10px;
		}
   }

   &__article {
      padding: 20px 30px 0px;
      background-color: #fff;

		@media (max-width: 565px) {
			padding: 10px 10px 0px;
		}
   }

   &__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0px 0px 30px 0px;

		@media (max-width: 565px) {
			display: block;
			margin: 0px 0px 20px 0px;
		}
	}

	&__title {
		margin: 0px 30px 0px 0px;
		flex: 1 1 auto;
		color: #343434;
		font-size: 24px;
		font-weight: 600;
		transition: all 0.3s ease 0s;

		&:hover {
			color: #2B8AFF;
		}

		@media (max-width: 565px) {
			display: block;
			font-size: 20px;
			margin: 0px 0px 5px 0px;
		}
	}

	&__date {
		color: #2B8AFF;
		font-size: 18px;

		@media (max-width: 565px) {
			font-size: 16px;
		}
	}

   &__text {
		
		p {
			font-size: 18px;
         margin: 0px 0px 15px 0px;

         &:last-child {
            margin: 0px 0px 0px 0px;
         }

			@media (max-width: 565px) {
				font-size: 16px;
			}
      }
   }

   &__image {
      text-align: center;

      img {
         max-width: 100%;
      }
   }

   &__photo {
      flex: 0 0 450px;
		position: relative;

      img {
         width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
      }
   }
	
	@media (max-width: 991px) {
		&__body {
			display: block;
		}
		
		&__content {
			margin: 0px 0px 30px 0px;
		}

		&__photo {
			width: 100%;

			img {
				max-width: 100%;
				position: relative;
			}
		}
	}
}
.news {

   &__slide {
      display: flex;
		justify-content: center;
      margin: 0 -15px;
      flex-wrap: wrap;
      position: relative;
      z-index: 6;
   }

   &__item {
      flex: 0 1 25%;
      padding: 0px 15px 0px;
      margin: 0px 0px 30px 0px;
      display: flex;
      flex-direction: column;

		@media (max-width: 768px) {
			flex: 0 1 50%;
		}

		@media (max-width: 565px) {
			flex: 1 1 100%;
		}
   }

   &__image {
      display: inline-block;
      margin: 0px 0px 20px 0px;
      overflow: hidden;

      img {
         max-width: 100%;
         transition: all 0.5s ease 0s;
      }

      &:hover {
         img {
            transform: scale(1.1);
         }
      }
   }

   &__title {
      flex: 1 1 auto;
      display: inline-block;
      color: #343434;
      font-size: 18px;
      margin: 0px 0px 20px 0px;
      transition: all 0.3s ease 0s;

      &:hover {
         color: #2b8aff;
      }
   }

   &__date {
      font-size: 18px;
      color: #2b8aff;
      font-weight: 500;
   }
}
.item-news {
	
	&__header {
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		background-color: #93C1F9;
		
		@media (max-width: 565px) {
			display: block;
			padding: 10px;
		}
	}
	
	&__title {
		margin: 0px 30px 0px 0px;
		flex: 1 1 auto;
		font-size: 24px;
		font-weight: 600;
		
		@media (max-width: 565px) {
			display: block;
			font-size: 20px;
			margin: 0px 0px 5px 0px;
		}
	}
	
	&__date {
		color: #ffffff;
		font-size: 18px;
		
		@media (max-width: 565px) {
			font-size: 16px;
		}
	}
	
	&__content {
		padding: 20px 30px;
		background-color: #FAFAFA;
		
		@media (max-width: 565px) {
			padding: 10px;
		}

		p {
			font-size: 18px;
			padding: 0px 0px 15px 0px;
			text-align: justify;

			@media (max-width: 565px) {
				font-size: 15px;
			}
		}
	}

	&__photo {
		margin: 0 90px 15px;

		@media (max-width: 768px) {
			margin: 0 0 15px;

		}

		img {
			max-width: 100%;
		}
	}

	&__back {
		display: block;
		padding: 0px 0px 0px 20px;
		margin: 20px 0px 0px 0px;
		font-size: 16px;
		color: #343434;
		font-weight: 500;
		transition: all 0.3s ease 0s;
		position: relative;

      &:before {
         content: '';
         width: 9px;
         height: 9px;
         border-top: 2px solid #343434;
         border-left: 2px solid #343434;
         transform: rotate(-45deg);
         position: absolute;
         top: 25%;
         left: 5px;
         transition: all 0.3s ease 0s;
		}

		&:hover {
         color: #005fd3;

         &:before {
            border-color: #005fd3;
            left: 2px;
         }
      }
	}
}
.photo-slider {
	margin: 0 90px 15px;

	@media (max-width: 768px) {
		margin: 0 0 15px;
	}

	&__img {
		margin: 10px 5px 0px;

		img {
			max-width: 100%;
		}
	}

	.slick-dots button {
		background-color: #93c1f9;
	}

	.slick-active button {
		background-color: #2B8AFF;
	}

}
.documents {

   &__title {
      padding: 20px;
      font-size: 18px;
      font-weight: 500;
      background-color: #93c1f9;

		@media (max-width: 565px) {
			padding: 10px;
		}
   }

   &__body {
      background-color: #fff;
   }

   &__documents {
      padding: 30px 20px;

		@media (max-width: 565px) {
			padding: 20px 10px;
		}
   }

   &__item {
      display: block;
      padding: 0px 0px 0px 17px;
      margin: 0px 0px 20px 0px;
      color: #343434;
      font-size: 12px;
      font-weight: 500;
      background: url('../images/document.svg') left top no-repeat;
      transition: all 0.3s ease 0s;

      &:hover {
         color: #2B8AFF;
      }
   }

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   &__archive {
      padding: 0px 12px 0px 0px;
      margin: 0px 0px 20px 20px;
      font-size: 20px;
      color: #2b8aff;
      font-weight: 500;
      transition: all 0.3s ease 0s;
      position: relative;

      &:before {
         content: '';
         width: 9px;
         height: 9px;
         border-top: 2px solid #2b8aff;
         border-right: 2px solid #2b8aff;
         transform: rotate(45deg) translateY(-50%);
         position: absolute;
         top: 50%;
         right: 0;
         transition: all 0.3s ease 0s;
      }

      &:hover {
         color: #005fd3;

         &:before {
            border-color: #005fd3;
            right: -5px;
         }
      }
   }

   &__image {
		@media (max-width: 565px) {
			display: none;
		}
   }
}
.filter {
   padding: 10px 20px;
   background-color: #edf5ff;
   display: flex;
   align-items: center;

	@media (max-width: 565px) {
		display: block;	
	}

   &__heading {
      padding: 0px 20px 0px 28px;
      font-size: 16px;
      font-weight: 500;
      background: url('../images/sort.svg') left no-repeat;
   }

	&__form {
		display: flex;
		align-items: center;
	}

   &__section {
      margin: 0px 12px;
      position: relative;

		@media (max-width: 565px) {
			margin: 20px 12px 10px;

			&:first-child {
				margin: 20px 12px 10px 0px;
			}
		}
   }

   &__title {
      padding: 7px 22px 7px 0px;
      font-size: 14px;
      cursor: pointer;
      position: relative;

      &:before {
         content: '';
         width: 9px;
         height: 9px;
         border-top: 2px solid #343434;
         border-right: 2px solid #343434;
         transform: rotate(135deg);
         position: absolute;
         top: 10px;
         right: 0;
      }

      &.active {
         &:before {
            top: 15px;
            transform: rotate(-45deg);
         }
         & + .filter__body {
				transform: translateY(0px);
				opacity: 1;
				visibility: visible;
         }
      }
   }

   &__body {
      padding: 20px 50px 20px 20px;
      background-color: #fff;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.13);
      position: absolute;
      top: 35px;
      left: -13px;
		transform: translateY(30px);
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
   }

   &__list {
      li {
         margin: 0px 0px 20px 0px;
      }
   }

   &__label {
      display: block;
      margin: 0px 0px 20px 0px;
   }

   &__input {
      display: none;

      &:checked + .filter__text:after {
         transform: rotate(-50deg) scale(1);
      }
   }

   &__text {
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      &:before {
         margin: 0px 20px 0px 0px;
         content: '';
         align-self: flex-start;
         flex: 0 0 18px;
         height: 18px;
         background-color: transparent;
         border: 1px solid #343434;
      }

      &:after {
         content: '';
         position: absolute;
         left: 4px;
         top: 4px;
         width: 10px;
         height: 7px;
         border-left: 2px solid #343434;
         border-bottom: 2px solid #343434;
         transform: rotate(-50deg) scale(0);
         transition: all 0.3s ease 0s;
      }
   }

	&__button {
		background-color: #93c1f9;
		font-size: 14px;
      font-weight: 500;
		color: ##343434;
		margin: 0px 0px 0px 20px;
		padding: 7px 10px;
		transition: all 0.3s ease 0s;
		
		&:hover {
			background-color: #2B8AFF;
		}
	}
}
.pagging {
   padding: 0px 20px 30px;
   display: flex;
   justify-content: space-between;
	align-items: center;

	@media (max-width: 565px) {
		flex-direction: column;
	}

   a {
      color: #343434;
      font-size: 18px;
      transition: all 0.3s ease 0s;

      &:hover {
         color: #000;
      }
   }

   &__start {
		@media (max-width: 565px) {
			margin: 20px 0px 0px 0px;
			order: 1;
		}
   }

   &__navi {
      display: flex;
   }

   &__arrow {
      width: 8px;
      height: 8px;
      border-right: 1px solid #343434;
      border-top: 1px solid #343434;

      &:hover {
         border-color: #000;
      }

      &_prev {
         transform: rotate(-135deg) translate(-4px, -5px);
      }

      &_next {
         transform: rotate(45deg) translate(4px, 5px);
      }
   }

   &__list {
      display: flex;

      li {
         margin: 0 9px;
      }
   }

   &__item {
      &.active {
         text-decoration: underline;
         font-weight: 700;
      }
   }
}
.contacts {

	&__body {
		background-color: #fff;
		display: flex;
		border-bottom: 3px solid #bfdcff;
	}

   &__map {
      flex: 0 1 690px;
   }

	&__info {
		padding: 20px 20px 0;
	}

	&__title {
      padding: 0px 0px 15px 30px;
      font-size: 18px;
      font-weight: 600;

      &_address {
         background: url('../images/mark.svg') left top no-repeat;
      }

      &_phone {
         background: url('../images/phone.svg') left top no-repeat;
      }

      &_mail {
         background: url('../images/mail.svg') left top no-repeat;
      }
   }

   &__text {
		display: block;
      margin: 0px 0px 30px 30px;
      color: #343434;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.3s ease 0s;
   }

   &__image {
		width: 130px;

		img {
			max-width: 100%;
		}
   }

	@media (max-width: 991px) {
		&__body {
			flex-direction: column;
			border: none;
		}
		&__map {
			flex: 1 1 auto;
			width: 100%;
		}

		&__title {
			padding: 0px 0px 10px 30px;
		}
	
		&__info {
			order: -1;
			margin: 0px 0px 20px 0px;
		}
	}

	@media (max-width: 565px) {
		&__info {
			padding: 10px 10px 0;
		}

		&__text {
			margin: 0px 0px 20px 30px;
			font-size: 16px;
		}
	}
}
a.contacts__text:hover {
   color: #005fd3;
}
.footer {
   padding: 55px 0px 40px 0px;
   background-color: #9cc5f8;
	position: relative;
	z-index: 2;

	@media (max-width: 565px) {
		padding: 30px 0px 30px 0px;
	}

   &__contacts {
      display: flex;
      justify-content: space-between;
      margin: 0px 0px 55px 0px;
   }

   &__column {
		@media (max-width: 991px) {
			margin: 0px 0px 35px 0px;
		}
   }

   &__title {
      padding: 0px 0px 15px 30px;
      font-size: 18px;
      font-weight: 600;

      &_address {
         background: url('../images/mark.svg') left top no-repeat;
      }

      &_phone {
         background: url('../images/phone.svg') left top no-repeat;
      }

      &_mail {
         background: url('../images/mail.svg') left top no-repeat;
      }
   }

   &__text {
      margin: 0px 0px 0px 30px;
      color: #343434;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.3s ease 0s;
   }

   &__developer {
      display: flex;
      justify-content: center;
      align-items: center;
		flex-wrap: wrap;
      font-size: 16px;

      a {
         color: #343434;
         font-size: 14px;
         line-height: 24px;
         padding: 0px 0px 0px 30px;
         margin: 0px 0px 0px 12px;
         background: url('../images/info-center.svg') left top no-repeat;
         transition: all 0.3s ease 0s;

         &:hover {
            color: #005fd3;
         }
      }
   }

	@media (max-width: 991px) {
		&__contacts {
			display: block;
		}
	}
}
a.footer__text:hover {
   color: #005fd3;
}
.error {
	padding: 30px 20px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;

	img {
		max-width: 100%;
	}

	&__text {
		margin: 15px 0px 0px 0px;
		font-size: 20px;
	}

	&__back {
		color: inherit;
		font-size: 18px;
		margin: 15px 0px 0px 0px;

		&:hover {
			text-decoration: underline;
		}
	}
}